---
import Site from '@layouts/Site.astro'
import { useTranslate, getLanguageFromUrl, localizeUrl } from '@utils/i18n'
import _ from 'lodash'
import { getBlogPosts, getBlogPostTags } from '@utils/posts'

export async function getStaticPaths() {
  const englishBlogPosts = await getBlogPosts('en')
  const portugueseBlogPosts = await getBlogPosts('pt')

  return [
    {
      params: { lang: undefined },
      props: {
        tags: getBlogPostTags(englishBlogPosts),
      },
    },
    {
      params: { lang: 'pt' },
      props: {
        tags: getBlogPostTags(portugueseBlogPosts),
      },
    },
  ]
}

const t = useTranslate(Astro)
const language = getLanguageFromUrl(Astro.url.pathname)

// eslint-disable-next-line @typescript-eslint/no-unused-vars
type Props = {
  tags: string[]
}

const { tags } = Astro.props

const tagsByCount = _.countBy(tags)
---

<Site title="Tags" description={t('TagsDescription')}>
  <main class="grid grid-cols-layout">
    <div>
      <h1 class="mb-4 hidden sm:block">Tags</h1>

      <ul>
        {
          Object.entries(tagsByCount)
            .sort(([_, countA], [__, countB]) => {
              return countB - countA
            })
            .map(([tag, count]) => {
              return (
                <li>
                  <a href={localizeUrl(`/tags/${tag}`, language)}>{tag}</a>{' '}
                  {`(${count})`}
                </li>
              )
            })
        }
      </ul>
    </div>
  </main>
</Site>
