---
import Site from '@layouts/Site.astro'
import { useTranslate } from '@utils/i18n'
import _ from 'lodash'
import { getBlogPosts, getBlogPostTags } from '@utils/posts'
import BlogPostTag from '@components/BlogPostTag.astro'
import type { InferGetStaticPropsType } from 'astro'

type Props = InferGetStaticPropsType<typeof getStaticPaths>

export async function getStaticPaths() {
  const englishBlogPosts = await getBlogPosts('en')
  const portugueseBlogPosts = await getBlogPosts('pt')

  return [
    {
      params: { lang: undefined },
      props: {
        tags: getBlogPostTags(englishBlogPosts),
      },
    },
    {
      params: { lang: 'pt' },
      props: {
        tags: getBlogPostTags(portugueseBlogPosts),
      },
    },
  ]
}

const t = useTranslate(Astro)

const { tags } = Astro.props

const tagsByCount = _.countBy(tags)
---

<Site isTranslated title='Tags' description={t.TagsDescription()}>
  <main class='grid grid-cols-layout'>
    <div>
      <h1 class='mb-8 hidden sm:block'>Tags</h1>

      <ul class='list-none m-0 flex flex-wrap gap-2'>
        {
          _.uniq(tags)
            .sort((tagA, tagB) => {
              const countA = tagsByCount[tagA]
              const countB = tagsByCount[tagB]
              return countB - countA
            })
            .map((tag) => {
              const count = tagsByCount[tag]

              return (
                <li>
                  <BlogPostTag tag={tag} count={count} />
                </li>
              )
            })
        }
      </ul>
    </div>
  </main>
</Site>
