dist
node_modules
screenshots/**/*.png
public/posts/**/image.png
public/pt/posts/**/image.png
public/pdf.worker.min.js
src/components/devicons/*.ts
src/components/devicons/*.tsx
/test-results/
/playwright-report/
/playwright/.cache/
src/env.d.ts
.astro
