# ignore minified files
*.min.js
*.min.css

# markdown
*.md
*.mdx

# astro
src/env.d.ts

# ignore files that, when formatted, would insert unwanted whitespace in HTML
src/components/ReactLink.astro
src/components/Footer.astro
