{{ define "main" }}
  <section>
    {{ range .Pages }}
      <div class="project-item">

        <details>
          <summary class="title" onMouseDown="return false;">
            <a href="{{ .Permalink }}">
              {{ .Title | title }}
            </a>
          </summary>

          <div class="content">
            {{ .Content }}
          </div>

          <div class="links">
            <a href="{{ .Params.github }}">{{ i18n "Repository" }}</a
            ><a href="{{ .Params.website }}">
              {{- cond (in .Params.website "readthedocs") "Docs" "Website" }}
            </a
            ></div>
        </details>

        <div class="metadata">
          <time class="date" datetime="{{ .Date.Format "2006-01-02" }}">
            {{ .Date.Format "January 02, 2006" }}
          </time>

          <span class="softwares">
            <span><a href="{{ "/softwares" | absLangURL }}">Softwares</a></span>:
            {{ range (.GetTerms "softwares") }}
              <a class="software" href="{{ .Permalink }}">
                {{- .Title -}}
              </a>
            {{ end }}
          </span>
        </div>

      </div>
    {{ end }}
  </section>
{{ end }}
