{{ define "main" }}
  <section class="flex-1">
    {{ range .Pages }}
      <article>
        <div class="flex items-center">
          <h2 class="m-0">
            <a href="{{ .Permalink }}">{{ .Title | title }}</a>
          </h2>

          {{ if isset .Params "github" }}
            <a class="ml-2 text-primary" href="{{ .Params.github }}">
              {{ partial "svgs/bxl-github.svg" }}
            </a>
          {{ end }}
        </div>

        {{ .Content }}
      </article>

      <hr class="last:hidden" />
    {{ end }}
  </section>
{{ end }}
