{{ define "main" }}
  <section class="">
    <ul class="list-none m-0">
    {{ range .Pages }}
      <li class="mb-16 last:mb-0">
        <article class="flex gap-4 flex-col sm:flex-row">
          <div class="rounded-md overflow-hidden h-[216px] sm:w-2/5 border border-divider">
            {{ with (index (.Resources.ByType "image") 0) }}
              <img class="object-cover object-left-top min-w-full h-full" src="{{ .Permalink }}">
              </img>
            {{ end }}
          </div>

          <div class="flex-1 sm:flex sm:flex-col sm:justify-between">
            <div>
              <div class="flex items-center justify-between text-xl mb-4">
                {{ if .Params.website }}
                  <h2 class="m-0 inline-block">
                    <a class="border-0 flex items-center gap-2" style="--icon-size: 1em;" href="{{ .Params.website }}">
                      {{ .Title }}

                      {{ partial "svgs/external-link.svg" }}
                    </a>
                  </h2>
                {{ else }}
                  <h2 class="m-0 inline-block">
                    {{ .Title }}
                  </h2>
                {{ end }}

                <time class="font-bold" datetime="{{ .Date.Format "2006-01-02" }}">
                  {{ .Date.Format "2006" }}
                </time>
              </div>

              {{ .Content }}
            </div>

            <div class="flex mt-4 gap-4 justify-end">
              {{ with .Params.github }}
                <a class="btn border-0 flex items-center gap-2 bg-[#1b1f23] text-[#ffffff] dark:bg-[#ffffff] dark:text-[#1b1f23]" style="--icon-size: 1.5em;" href="{{ . }}">
                  {{ partial "svgs/github.svg" }} GitHub
                </a>
              {{ end }}
            </div>
          </div>
        </article>
      </li>
    {{ end }}
    </ul>
  </section>
{{ end }}
