{{ define "main" }}
  <article class="single-project">
    <div class="metadata">
      <h1 class="title">{{ .Title }}</h1>

      <div class="links">
        <a href="{{ .Params.github }}" title="Go to project Github's repository">
          {{ readFile "/static/svg/github.svg" | safeHTML }}
        </a>

        <a href="{{ .Params.website }}" title="Go to project website">
          {{ readFile "/static/svg/link.svg" | safeHTML }}
        </a>
      </div>
    </div>

    {{ .Content }}

  </article>
{{ end }}
