.archive {
  ul {
    @include reset-list;

    li {
      display: grid;
      grid-template-columns: 6ch auto;

      padding-bottom: 1em;

      time {
        font-family: monospace;
        font-size: 1.2em;
      }

      a {
        @include inherit-color;
        @include highlight-on-hover;
      }
    }
  }
}
