.archive {
  ul {
    @include reset-list;

    li {
      display: grid;
      grid-template-columns: 7ch auto;

      padding-bottom: 1em;

      time {
        font-variant-numeric: tabular-nums;
      }

      a {
        @include inherit-color;
        @include highlight-on-hover;
      }
    }
  }
}
