footer {
  padding: 2em 0;

  width: 80%;
  margin: 0 auto;

  font-size: 0.8em;
  text-align: center;

  a {
    @include inherit-color;
    @include highlight-on-hover;
  }

  svg {
    width: 2.5em;
    height: 2.5em;
    margin-left: 1em;
  }
}
