footer {
  padding: 0.5em 0 2em 0;

  font-size: 0.8em;
  text-align: center;

  .links {
    margin-bottom: 1em;
  }

  a {
    @include inherit-color;
    @include highlight-on-hover;
  }

  svg {
    fill: $heading-color;

    &:hover {
      fill: $highlight-color;
    }
  }
}
