header {
  margin-bottom: 1em;

  .site-heading {
    color: $black;
    font-weight: 600;
    font-size: 1.5em;

    display: flex;
    justify-content: space-between;
  }

  .site-social {
    a {
      font-size: 1.2em;
    }
  }

  nav {
    margin-top: 1.5em;
  }
}

nav {
  ul {
    margin: 0;
    padding: 0;
    list-style: none;
    display: flex;

    li:not(:first-child) {
      margin-left: 1em;
    }
  }
}
