header {
  margin-bottom: 1em;

  .site-heading {
    color: $black;
    font-weight: 600;
    font-size: 1.5em;

    display: flex;
    justify-content: space-between;
  }

  .site-title {
    @include plain-link;
    @include highlight-on-hover;
  }

  .site-social {
    @include style-links;

    a {
      font-size: 1.2em;
    }
  }

  nav {
    margin-top: 1.5em;
  }
}

nav {
  @include style-links;

  ul {
    @include reset-list
    display: flex;

    li:not(:first-child) {
      margin-left: 1em;
    }
  }
}
