html {
  height: 100%;
}

body {
  display: flex;
  flex-flow: column;
  height: 100%;

  margin: 0 auto;
  max-width: $content-width;
}

main {
  flex: 1;
  display: flex;
  flex-flow: column;
}

header, main, footer {
  padding: 0.5em 1em;
}
