html, body {
  height: 100%;
}

body {
  display: flex;
  flex-flow: column;
  max-width: $content-width;
  margin: 0 auto;
}

body > * {
  margin: 0.5em 1em;
}

header {
  flex-shrink: 0;
  height: 7em;
}

main {
  flex: 1;
}
