html, body {
  height: 100%;
}

body {
  display: flex;
  flex-flow: column;

  margin: 0 auto;
  max-width: $content-width;
}

main {
  font-size: 0.9em;
}

body > * {
  margin: 0.5em 1em;
}

main {
  flex: 1;
}
