html {
  box-sizing: border-box;
}

*, *:after, *:before {
  box-sizing: inherit;
}

time {
  font-family: $monospace;
}

img {
  max-width: 100%;
}

footer,
h1,
h2,
h3,
h4,
h5,
h6 {
  color: $grey;
}

hr {
  border: 0;
  height: 0;
  border-top: 1px solid transparent;
  border-bottom: 1px dashed $black;
}
