html {
  box-sizing: border-box;
}

*, *:after, *:before {
  box-sizing: inherit;
}

a {
  text-decoration: none;

  p & {
    color: $link-color;

    &:visited {
      color: $visited-link-color;
    }

    &:hover {
      text-decoration: underline;
    }
  }
}

img {
  display: block;
  margin: 0 auto;
  max-width: 100%;
}

body {
  color: $font-color;
  font-family: $main-font;
}

h1, h2, h3, h4, h5, h6 {
  color: $heading-color;
  font-family: $heading-font;
}

p > code {
  padding: 0 0.3em;
  font-family: $code-font;
  background-color: $code-bg;
}

p > code {
  font-size: 0.9em;
}

pre {
  padding: 1em;
  background-color: $code-bg !important;

  overflow-x: auto;
  &:hover {
    overflow-x: visible;
  }
}

hr {
  margin: 1em 0;
  border: 0.1em solid $dim-color;
}

svg {
  fill: $heading-color;

  &:hover {
    fill: $highlight-color;
  }
}

span.newline {
  margin: 0.5em;
}
