html {
  box-sizing: border-box;
}

*, *:after, *:before {
  box-sizing: inherit;
}

time {
  font-family: $monospace;
}

small {
  font-size: 0.5rem;
}

img {
  max-width: 100%;
}

.site-heading,
h1, h2, h3, h4, h5, h6 {
  color: $black;
}

.post-navigation,
.posts-list,
.category-list,
header,
footer,
h1, h2, h3, h4, h5, h6 {
  a {
    color: inherit;
    text-decoration: none;
  }
}

hr {
  border: 0;
  height: 0;
  border-top: 1px solid transparent;
  border-bottom: 1px dashed $black;
}

p > code {
  background-color: $light-grey;
  border: 1px solid $dark-grey;
  border-radius: 5px;
  padding: 0.1em 0.3em;
}

pre {
  overflow-x: auto;
  padding: 1em;
  background-color: $light-grey !important;
}
