@mixin reset-list {
  margin: 0;
  padding: 0;
  list-style: none;
}

@mixin horizontal-list {
  @include reset-list;

  li {
    display: inline-block;
  }
}

@mixin reset-headings {
  h1, h2, h3, h4, h5, h6 {
    margin: 0;
  }
}

@mixin inherit-color {
  color: inherit;
}

@mixin highlight-on-hover($color: $highlight-color) {
  &:hover {
    color: $color;
  }
}

@mixin separate($sep) {
  &:not(:last-child):after {
    content: $sep;
  }
}

@mixin formatted-horizontal-list {
  @include horizontal-list;
  display: inline;

  li {
    @include separate(",");
    margin-right: 0.5em;

    a {
      @include inherit-color;
      @include highlight-on-hover;
    }
  }
}

@mixin hide-anchor-but-show-on-hover {
  a {
    display: none;
    @include inherit-color;
    color: $highlight-color;
  }

  &:hover {
    a {
      display: inline;
      &:hover { text-decoration: underline; }
    }
  }
}
