@mixin reset-list {
  margin: 0;
  padding: 0;
  list-style: none;
}

@mixin plain-link {
  color: inherit;
}

@mixin highlight-on-hover {
  &:hover {
    color: $blue;
  }
}

@mixin style-links {
  a {
    @include plain-link;
    @include highlight-on-hover;
  }
}

@mixin spaced($space: 1em) {
  padding-bottom: $space;
  margin-bottom: $space * 2;
}

