@mixin reset-list {
  margin: 0;
  padding: 0;
  list-style: none;
}

@mixin horizontal-list {
  @include reset-list;

  li {
    display: inline-block;
  }
}

@mixin reset-headings {
  h1, h2, h3, h4, h5, h6 {
    margin: 0;
  }
}

@mixin inherit-color {
  color: inherit;
}

@mixin highlight-on-hover($color: $highlight-color) {
  &:hover {
    color: $color;
  }
}

@mixin separate($sep) {
  &:not(:last-child):after {
    content: $sep;
  }
}

@mixin ends_with($sep) {
  &:last-child:after {
    content: $sep;
  }
}

@mixin prefix($char) {
  &:before {
    content: $char;
  }
}

@mixin spaced($space: 1em) {
  padding-bottom: $space;
  margin-bottom: $space * 2;
}

@mixin generate-grid-areas($elements...) {
  @each $element in $elements {
    .#{$element} {
      grid-area: $element;
    }
  }
}
