.pages-list {
  display: flex;
  flex-flow: column;
  height: 100%;

  .pages {
    flex: 1;

    .page {
      margin-bottom: 2em;
      @include reset-headings;

      a {
        @include inherit-color;
        @include highlight-on-hover;
      }

      .title {
        margin-top: 1em;
      }

      .date {
        &:after {
          content: "·";
        }
      }

      .date, .taxonomies {
        font-size: 0.8em;
      }

      .taxonomy {
        @include separate(",");
      }
    }
  }

  ul.pagination {
    @include horizontal-list;
    text-align: center;

    a {
      @include inherit-color;
      @include highlight-on-hover;
    }

    .current {
      padding: 0 0.5em;
    }

    .previous, .next {
      width: 2ch;
    }
  }
}
