.page {
  a {
    @include inherit-color;
    @include highlight-on-hover;
  }

  margin-bottom: 2em;

  @include reset-headings;

  .title {
    margin-top: 1em;
  }

  .date {
    &:after {
      content: "·";
    }
  }

  .date, .taxonomies {
    font-size: 0.8em;
  }

  .taxonomy {
    @include separate(",");
  }
}
