@import url(https://fonts.googleapis.com/css?family=Droid+Serif);
$content-width: 65ch;

$main-font: 'Droid Serif', serif;
$heading-font: $main-font;
$code-font: 'Consolas', 'Ubuntu Mono', monospace;

$light-beige: #cfcdc2;
$dark-beige: #aca895;
$orange: #e25822;
$blue: #1da7dd;
$black: #1a1a1a;
$dark-grey: #41413e;
$light-grey: #f5f5f5;

$font-color: $black;
$heading-color: $dark-grey;
$code-bg: $light-grey;
$link-color: #31639c;
$visited-link-color: #684d77;
