/* LIST ARCHIVE */

ul.posts-list {
  padding: 0;
  list-style: none;

  li {
    margin: 0.8em 0;
    display: flex;

    time {
      margin-right: 1em;
    }
  }
}

.post-year, .post-date {
  font-size: 1.3em;
}

.post-date {
  text-align: right;
}

/* SINGLE POST */

.post-heading {
  .post-heading-anchor {
    display: none;
    text-decoration: underline;
  }

  &:hover .post-heading-anchor {
    display: inline;
  }
}

.post-info {
  display: flex;
  flex-flow: row;

  * {
    font-size: 0.7rem;
  }

  time {
    &:after {
      content: "/";
      margin-right: 0.5em;
    }
  }

  .category-list {
    flex: 1;
    margin: 0;
    padding: 0;
    list-style: none;

    li {
      display: inline;

      &:not(:last-child):after {
        content: ",";
      }
    }
  }
}

/* POSTS LIST */

.posts-container {
  display: flex;
  flex-flow: column;

  .post {
    display: grid;
    grid-template-columns: 90% 10%;

    padding: 1em 0;
    border-bottom: 1px solid $grey;
  }

  .post-title {
    margin: 0;
  }

  .post-date {
    font-size: 1.1em;
    justify-self: end;
    grid-column: 2 / 3;
  }

  .post-summary {
    margin-top: 1em;
    grid-column: 1 / 3;
    font-size: 0.9em;
  }

  .post-tags {
    align-self: end;
    margin-top: 1em;
    font-size: 0.7em;
    grid-column: 1 / 3;
  }
}

.post-navigation {
  display: grid;
  grid-auto-flow: column;
  gap: 1em;

  .previous {
    text-align: left;
    &:before {
      content: "«"
    }
  }

  .next {
    text-align: right;
    &:after {
      content: "»"
    }
  }
}
