.posts-list {
  margin: auto 0;

  li {
    display: flex;
    justify-content: space-between;
    a {
      border-bottom: 1px dotted transparent;
      &:hover {
        border-bottom: 1px dotted black;
      }
    }
  }

  time {
    font-family: monospace;
    font-size: 1.1em;
    line-height: 1.3em;
  }
}

.post-info {
  display: flex;
  justify-content: space-between;
}

.tags-list {
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
}

.tag {
  font-size: 0.8em;
  margin: 0 0.2em;
  padding: 0.3em 0.5em;
  border-radius: 0.5em;
  border: 1px solid black;
  background-color: white;
}

.tags-list li:last-child .tag {
  margin-right: 0;
}

.post-navigation {
  display: flex;
  justify-content: space-between;
}
