a.link {
  i {
    font-size: 1.1em;
    vertical-align: middle;
  }
}

.project {
  &:hover {
    cursor: pointer;
  }

  .bxs-chevron-down {
    place-self: end;
  }
}

.projects-list details {
  summary::-webkit-details-marker {
    display: none;
  }

  &[open] {
    summary {
      margin-bottom: 1em;
    }
    margin-bottom: 1em;
  }
}
