.project-heading {
  @include style-links;

  h1 {
    display: inline;
    margin: 0;
  }

  a {
    font-size: 1.2em;
    display: inline;
  }
}

.project {
  &:hover {
    cursor: pointer;
  }

  .bx {
    place-self: end;
  }
}

.projects-list details {
  summary {
    &::-webkit-details-marker {
      display: none;
    }
  }

  .bxs-chevron-left {
    display: none;
  }

  &[open] {
    margin-bottom: 1em;

    summary {
      margin-bottom: 1em;
    }

    .bxs-chevron-down {
      display: none;
    }

    .bxs-chevron-left {
      display: inline-block;
    }
  }
}

.read-more {
  margin-top: 0.5em;
}
