.project-item {
  margin-bottom: 2em;

  @include reset-headings;

  .metadata {
    font-size: 0.8em;
  }

  .content {
    margin: 2em 0;
  }

  .links {
    padding-bottom: 1em;
    text-align: right;

    a {
      margin-left: 0.5em;
    }
  }

  .title {
    margin: 1em 0;
  }

  .date {
    &:after {
      content: "-";
    }
  }

  .software {
    @include separate(",");
  }

  a {
    @include inherit-color;
    @include highlight-on-hover;
  }
}
