.single-post {
  ul.categories {
    @include formatted-horizontal-list;

    &:before {
      content: "·";
      margin-right: 0.3em;
    }
  }

  .heading {
    @include hide-anchor-but-show-on-hover;
  }
}

.adjacent-posts {
  display: grid;
  grid-auto-flow: column;
  grid-template: "previous next" / 50% 50%;

  @include generate-grid-areas(previous, next);

  a {
    @include inherit-color;
    @include highlight-on-hover;
  }

  .previous {
    &:before {
      content: "«";
    }
  }

  .next {
    text-align: right;
    &:after {
      content: "»";
    }
  }
}
