.single-project {
  .metadata {
    display: grid;
    grid-auto-flow: column;
    grid-template-columns: 80% auto;

    .links {
      align-self: center;
      justify-self: end;

      svg {
        width: 32px;
        height: 32px;
      }
    }
  }
}
