$serif: serif;
$sans-serif: sans-serif;
$monospace: monospace;

$content-width: 40em;

$dark-grey: #d3d3d3;
$grey: #eeeeee;
$light-grey: #f2f2f2;

$black: #30323D;
$light-black: #555555;

$blue: #5b7abd;
