@import 'variables';
@import 'header';
@import 'footer';
@import 'links';
@import 'post';
@import 'misc';

html {
  font-family: $serif;
  box-sizing: border-box;
}

*, *:after, *:before {
  box-sizing: inherit;
}


html, body {
  height: 100%;
}

body {
  display: flex;
  flex-flow: column;

  max-width: $content-width;
  margin: 0 auto;
}

body > * {
  padding: 0.5em 1em;
}

main {
  flex: 1;
}
