@import 'variables';
@import 'layout';
@import 'header';
@import 'footer';
@import 'links';
@import 'post';
@import 'misc';

body {
  font-family: $sans-serif;
  font-size: 95%;

  max-width: $content-width;
  margin: 0 auto;
}

body > * {
  padding: 0.5em 1em;
}
