:root {
  --horizontal-padding: 1rem;
  --content-max-width: 64rem;
  --nav-height: 4rem;

  --primary: hexToRgb(theme(colors.orange.500));
  --primary-hover: hexToRgb(theme(colors.orange.600));
  --on-primary: hexToRgb(theme(colors.neutral.800));
  --background: hexToRgb(theme(colors.neutral.50));
  --on-background: hexToRgb(theme(colors.neutral.700));
  --surface: hexToRgb(theme(colors.neutral.100));
  --hover: hexToRgb(theme(colors.neutral.200));
  --disabled: var(--background);
  --on-disabled: hexToRgb(theme(colors.neutral.300));
  --divider: hexToRgb(theme(colors.neutral.400));
  --shadow: hexToRgb(theme(colors.neutral.500));
  --note: hexToRgb(theme(colors.blue.600));
  --warn: hexToRgb(theme(colors.red.600));
  color-scheme: light;
}

.dark {
  --primary: hexToRgb(theme(colors.orange.300));
  --primary-hover: hexToRgb(theme(colors.orange.200));
  --on-primary: hexToRgb(theme(colors.neutral.800));
  --background: hexToRgb(theme(colors.neutral.800));
  --on-background: hexToRgb(theme(colors.neutral.200));
  --surface: hexToRgb(theme(colors.neutral.700));
  --hover: hexToRgb(theme(colors.neutral.600));
  --disabled: var(--background);
  --on-disabled: hexToRgb(theme(colors.neutral.700));
  --divider: hexToRgb(theme(colors.neutral.500));
  --shadow: hexToRgb(theme(colors.neutral.900));
  --note: hexToRgb(theme(colors.blue.500));
  --warn: hexToRgb(theme(colors.red.500));
  color-scheme: dark;
}

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  h1,
  h2,
  h3 {
    @apply mb-2 font-serif font-bold;
  }

  code {
    @apply font-mono;
  }

  h1 {
    @apply text-2xl;
  }

  h2 {
    @apply text-xl;
  }

  h3 {
    @apply text-lg;
  }

  img {
    @apply max-w-full;
  }

  article p {
    @apply mb-4 leading-relaxed;
  }

  article p:only-child {
    @apply mb-0;
  }

  ul,
  ol {
    @apply mb-4 ml-4 list-disc;
  }

  ul li::marker,
  ol li::marker {
    @apply text-primary;
  }

  ol {
    @apply mb-4 ml-4 list-decimal;
  }

  blockquote {
    @apply border-l border-divider pl-8;
  }

  kbd {
    @apply inline-block whitespace-nowrap rounded bg-surface px-2 py-1 font-bold leading-none text-on-background shadow-sm shadow-shadow;
  }

  hr {
    @apply border-t border-divider;
  }

  :not(pre) > code {
    @apply break-words text-sm font-bold text-primary;
  }

  :not(pre) > code::before,
  :not(pre) > code::after {
    content: '\`';
  }

  .footnotes hr {
    @apply mb-4;
  }
}

@layer components {
  .card {
    @apply rounded bg-surface shadow-sm shadow-shadow;
  }

  .card-none {
    @apply rounded-none bg-background shadow-none;
  }

  .grid-cols-layout > * {
    @apply col-content;
  }
}

@layer utilities {
  .rtl {
    direction: rtl;
  }

  .full-width-on-mobile {
    @apply -mx-horizontal-padding sm:mx-0;
  }
}

[data-preload] {
  transition: none !important;
}

@keyframes tooltip-animation {
  0% {
    opacity: 0;
    transform: rotate(-180deg);
  }
  10% {
    transform: rotate(0deg);
  }
  50% {
    opacity: 1;
    transform: translateY(0%);
  }
  100% {
    opacity: 0;
    transform: translateY(-100%);
  }
}

button,
[role='button'] {
  cursor: default;
}
