<!DOCTYPE html>
<html lang="{{ .Site.Params.htmlLang | default .Lang }}">
  <head>
    {{ partial "head.html" . }}

    {{ block "css" . }}
      {{ range (.Resources.Match "*.css") }}
        <link href="{{ .RelPermalink }}" rel="stylesheet" />
      {{ end }}
    {{ end }}
  </head>

  <body data-preload class="text-foreground bg-background transition transition-colors duration-75 ease-out">
    {{ $themeScript := resources.Get "js/theme.js" }}

    {{ if (not .Site.IsServer) }}
      {{ $themeScript := $themeScript | minify }}
    {{ end }}

    <script>{{ $themeScript.Content | safeJS }}</script>

    <div data-scroll-container class="flex flex-col min-h-screen">
      {{ partial "nav.html" . }}

      <div class="py-16 px-4 flex-1 max-w-prose mx-auto flex flex-col container mx-auto">
        <main class="flex flex-1 flex-col">
          {{ block "main" . }}
            {{ .Content }}
          {{ end }}
        </main>

        {{ partial "footer.html" . }}
      </div>
    </div>

    {{ range (.Resources.Match "*.js") }}
      <script src="{{ .RelPermalink }}"></script>
    {{ end }}

    {{ $toggleThemeScript := resources.Get "js/toggle-theme.js" }}
    {{ $navScript := resources.Get "js/nav.js" | js.Build }}

    {{ if (not .Site.IsServer) }}
      {{ $toggleThemeScript := $toggleThemeScript | minify }}
      {{ $navScript := $navScript | minify }}
    {{ end }}

    <script src="{{ $toggleThemeScript.Permalink }}"></script>
    <script src="{{ $navScript.Permalink }}"></script>

    {{ block "scripts" . }}
    {{ end }}
  </body>
</html>
