{{ define "main" }}
  {{ range .Paginator.Pages }}
    <div class="posts-container">
      <div class="post">

        <h4 class="post-title">
          <a class="plain-link highlight-on-hover" href="{{ .Permalink }}">{{ .Title }}</a>
        </h4>

        <time class="post-date" datetime="{{ .Date.Format "2006-01-02" }}">
          <strong>
            {{ .Date.Format "Jan 02" }}
          </strong>
        </time>

        <div class="post-summary">
          {{ .Summary }}
        </div>

        {{ $taxonomy := cond (eq $.Section "categories") "tags" "categories" }}
        {{ $taxonomyPage := .Site.GetPage (printf "/%s" $taxonomy) }}

        <div class="post-tags">
          {{ $terms := (.GetTerms $taxonomy) }}

          <strong>
            <a
              class="plain-link highlight-on-hover"
              href="{{ $taxonomyPage.Permalink }}">
              {{ $taxonomy | title }}:
            </a>
          </strong>

          {{ range $index, $term := $terms }}
            <a class="plain-link highlight-on-hover" href="{{ $term.Permalink }}">
              {{- $term.Title -}}
            </a>
            {{- if (lt (add $index 1) (len $terms)) }},{{ end -}}
            {{ end }}
        </div>
      </div>
    {{ end }}

  <div class="pagination-container">
    {{ partial "pagination.html" . }}
  </div>
{{ end }}
