{{ define "main" }}
  {{ $taxonomy := .Parent }}

  <section class="flex-1">
    {{ range .Pages }}
      <article class="page">
        <h2>
          <a href="{{ .Permalink }}">{{ .Title }}</a>
        </h2>

        <time datetime="{{ .Date.Format "2006-01-02" }}">
          {{ if eq .Lang "en" }}
            {{ .Date.Format "January 02, 2006" }}
          {{ else }}
            {{ index $.Site.Data.portugueseMonths (printf "%d" .Date.Month) }}
            {{ .Date.Day }},
            {{ .Date.Year }}
          {{ end }}
        </time>

        ·

        <span class="">
          {{- range $index, $term := (first 5 (.GetTerms $taxonomy.Data.Plural)) -}}
            {{- if $index -}}, {{ end }}
            <a class="no-underline" href="{{ .Permalink }}">
              {{- .Title -}}
            </a>
          {{- end -}}
        </span>

        <hr class="my-6" />
      </article>
    {{ end }}
  </section>

  <div class="text-right">
    <a class="no-underline" href="{{ $taxonomy.RelPermalink }}">
      {{ $taxonomy.Title }} »
    </a>
  </div>
{{ end }}
