.bg { color: #d0d0d0; background-color: #202020; }
.chroma { color: #d0d0d0; background-color: #202020; }
.chroma .err { color: #a61717; background-color: #e3d2d2; }
.chroma .lntd { vertical-align: top; padding: 0; margin: 0; border: 0; }
.chroma .lntable { border-spacing: 0; padding: 0; margin: 0; border: 0; }
.chroma .hl { background-color: #ffffcc; }
.chroma .lnt { white-space: pre; user-select: none; margin-right: 0.4em; padding: 0 0.4em 0 0.4em; color: #898989; }
.chroma .ln { white-space: pre; user-select: none; margin-right: 0.4em; padding: 0 0.4em 0 0.4em; color: #898989; }
.chroma .line { display: flex; }
.chroma .k { color: #6ab825; font-weight: bold; }
.chroma .kc { color: #6ab825; font-weight: bold; }
.chroma .kd { color: #6ab825; font-weight: bold; }
.chroma .kn { color: #6ab825; font-weight: bold; }
.chroma .kp { color: #6ab825; }
.chroma .kr { color: #6ab825; font-weight: bold; }
.chroma .kt { color: #6ab825; font-weight: bold; }
.chroma .na { color: #bbbbbb; }
.chroma .nb { color: #2594a1; }
.chroma .nc { text-decoration: underline; color: #548bd3; }
.chroma .no { color: #40ffff; }
.chroma .nd { color: #ffa500; }
.chroma .ne { color: #bbbbbb; }
.chroma .nf { color: #548bd3; }
.chroma .nn { text-decoration: underline; color: #548bd3; }
.chroma .nt { color: #6ab825; font-weight: bold; }
.chroma .nv { color: #40ffff; }
.chroma .s { color: #ed9d13; }
.chroma .sa { color: #ed9d13; }
.chroma .sb { color: #ed9d13; }
.chroma .sc { color: #ed9d13; }
.chroma .dl { color: #ed9d13; }
.chroma .sd { color: #ed9d13; }
.chroma .s2 { color: #ed9d13; }
.chroma .se { color: #ed9d13; }
.chroma .sh { color: #ed9d13; }
.chroma .si { color: #ed9d13; }
.chroma .sx { color: #ffa500; }
.chroma .sr { color: #ed9d13; }
.chroma .s1 { color: #ed9d13; }
.chroma .ss { color: #ed9d13; }
.chroma .m { color: #438dc4; }
.chroma .mb { color: #438dc4; }
.chroma .mf { color: #438dc4; }
.chroma .mh { color: #438dc4; }
.chroma .mi { color: #438dc4; }
.chroma .il { color: #438dc4; }
.chroma .mo { color: #438dc4; }
.chroma .ow { color: #6ab825; font-weight: bold; }
.chroma .c { color: #999999; font-style: italic; }
.chroma .ch { color: #999999; font-style: italic; }
.chroma .cm { color: #999999; font-style: italic; }
.chroma .c1 { color: #999999; font-style: italic; }
.chroma .cs { background-color: #520000; font-weight: bold; color: #f75050; }
.chroma .cp { font-weight: bold; color: #e15a5a; }
.chroma .cpf { font-weight: bold; color: #e15a5a; }
.chroma .gd { color: #e75959; }
.chroma .ge { font-style: italic; }
.chroma .gr { color: #e75959; }
.chroma .gh { color: #ffffff; font-weight: bold; }
.chroma .gi { color: #589819; }
.chroma .go { color: #cccccc; }
.chroma .gp { color: #aaaaaa; }
.chroma .gs { font-weight: bold; }
.chroma .gu { color: #ffffff; text-decoration: underline; }
.chroma .gt { color: #e75959; }
.chroma .gl { text-decoration: underline; }
.chroma .w { color: #878787; }
