:root {
  --default-font-family: 'Fira Sans', sans-serif;
  --heading-font-family: 'Merriweather', serif;
  --code-font-family: 'Consolas', 'Menlo', 'Monaco', 'Fira Code', monospace;

  --page-padding: 1rem;
  --gallery-gap: var(--page-padding);
  --content-max-width: 64rem;
  --nav-height: 4rem;

  --icon-size: 1.75rem;

  --beige-100: hexToRgb(#fffff5);
  --beige-200: hexToRgb(#f6f6e4);
  --beige-300: hexToRgb(#eeeed3);
  --beige-400: hexToRgb(#e5e5c2);
  --beige-500: hexToRgb(#dddcb2);
  --beige-600: hexToRgb(#d4d4a1);
  --beige-700: hexToRgb(#cccb91);

  --black-100: hexToRgb(#595959);
  --black-200: hexToRgb(#4c4c4c);
  --black-300: hexToRgb(#3e3e3e);
  --black-400: hexToRgb(#323232);
  --black-500: hexToRgb(#262626);
  --black-600: hexToRgb(#1a1a1a);
  --black-700: hexToRgb(#151515);

  --blue: hexToRgb(#4169e1);
  --red: hexToRgb(#dd0022);
  --orange: hexToRgb(#f7bd55);

  color-scheme: light dark;
}

body {
  --primary: var(--blue);
  --primary-fg: var(--beige-100);
  --foreground: var(--black-200);
  --background: var(--beige-400);
  --surface: var(--beige-200);
  --hover: var(--beige-100);
  --divider: var(--beige-700);
  --note: var(--blue);
  --warn: var(--red);
  color-scheme: light;
}

body.dark {
  --primary: var(--orange);
  --primary-fg: var(--black-600);
  --foreground: var(--beige-300);
  --background: var(--black-500);
  --surface: var(--black-400);
  --hover: var(--black-300);
  --divider: var(--black-100);
  --note: var(--blue);
  --warn: var(--red);
  color-scheme: dark;
}

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    @apply text-base sm:text-lg;
  }

  body {
    font-family: var(--default-font-family);
  }

  h1,
  h2,
  h3 {
    font-family: var(--heading-font-family);
    @apply mb-2 font-bold;
  }

  code {
    font-family: var(--code-font-family);
  }

  h1 {
    @apply text-2xl;
  }

  h2 {
    @apply text-xl;
  }

  h3 {
    @apply text-lg;
  }

  img {
    @apply max-w-full;
  }

  article p {
    @apply mb-4 leading-relaxed;
  }

  article details {
    @apply mb-4;
  }

  a {
    @apply border-b-2 border-divider no-underline hover:border-primary;
  }

  :is(h1, h2, h3, h4) a {
    @apply no-underline;
  }

  hr {
    @apply my-4 border-t-2 border-divider;
  }

  [data-blog-post] hr {
    @apply overflow-visible border-0 text-center after:content-['â‚'];
  }

  [data-blog-post] img {
    @apply mx-auto;
  }

  [data-blog-post] figure {
    @apply -mx-page-padding sm:mx-0;
  }

  [data-blog-post] figure figcaption {
    @apply mt-2 px-page-padding text-center;
  }

  [data-blog-post] :is(pre, figure, blockquote) {
    @apply my-8;
  }

  [role='tabpanel'] :is(pre, figure, blockquote) {
    @apply my-0;
  }

  pre {
    @apply -mx-page-padding overflow-x-auto bg-surface py-page-padding px-8 sm:mx-0 sm:rounded-md;
  }

  [role='tabpanel'] pre {
    @apply mx-0 rounded-md;
  }

  :not(pre) > code {
    @apply break-words px-1 font-bold;
  }

  :not(pre) > code::before,
  :not(pre) > code::after {
    content: '\`';
  }

  pre code {
    @apply float-left min-w-full leading-normal;
  }

  ul {
    @apply ml-4 mb-4 list-disc;
  }

  ul li::marker {
    @apply text-primary;
  }

  ol {
    @apply ml-4 mb-4 list-decimal;
  }

  blockquote {
    @apply border-l-2 border-divider pl-8;
  }

  kbd {
    padding: 2px 4px;
    box-shadow: 1px 1px 1px rgb(var(--foreground));
    @apply mx-[2px] inline-block whitespace-nowrap rounded-md bg-surface py-[2px] px-[6px] align-text-bottom font-bold leading-none text-foreground;
  }

  ::selection {
    @apply bg-foreground text-background;
  }

  [role='tab'] {
    @apply rounded-t-md p-2;
  }

  [role='tab'][aria-selected='true'] {
    @apply border-t-2 border-primary bg-surface;
  }

  [role='tablist'] {
    @apply ml-page-padding;
  }

  [role='tabpanel'] {
    @apply rounded-md bg-surface py-8 px-page-padding shadow-sm shadow-divider;
  }

  nav#TableOfContents ol {
    @apply m-0 list-none indent-4;
  }

  nav#TableOfContents ol ol {
    @apply indent-8;
  }

  nav#TableOfContents ol ol ol {
    @apply indent-12;
  }

  nav#TableOfContents ol ol ol ol {
    @apply indent-16;
  }

  nav#TableOfContents > ol li {
    @apply relative before:absolute before:top-0 before:left-0 before:h-full before:w-[2px] before:bg-divider before:content-[''];
  }

  nav#TableOfContents > ol li[data-active] {
    @apply before:bg-primary;
  }

  nav#TableOfContents > ol li[data-active] > a {
    @apply text-primary;
  }

  nav#TableOfContents > ol li a {
    @apply whitespace-nowrap border-b-0 transition-colors duration-100;
  }
}

@layer components {
  .btn {
    @apply rounded-md px-4 py-2;
  }

  .btn-primary {
    @apply bg-primary text-primary-fg;
  }

  .btn-secondary {
    @apply border-2 border-foreground;
  }

  a.btn-primary {
    @apply border-0;
  }

  .btn-icon {
    @apply flex items-center justify-center rounded-full p-2;
  }

  .chip {
    @apply inline-flex w-fit items-center justify-center rounded-full border-2 border-divider bg-surface px-4;
  }

  .tag {
    @apply chip no-underline shadow-sm shadow-divider transition-colors duration-100 hover:bg-hover;
  }

  .alert {
    @apply my-8 flex max-w-prose gap-4 rounded-md border-l-2 bg-surface px-page-padding py-4 shadow-sm shadow-divider sm:mx-0;
  }

  .card {
    @apply rounded-md bg-surface shadow-sm shadow-divider;
  }

  .grid-cols-layout > * {
    @apply col-content;
  }

  .gallery-wrapper {
    @apply col-full grid snap-x snap-proximity grid-cols-[inherit] overflow-x-scroll;
  }

  .gallery-wrapper .gallery {
    @apply col-content flex gap-[var(--gallery-gap)];
  }

  .gallery-wrapper .gallery::after {
    content: '';
    align-self: stretch;
    padding-inline-end: max(
      var(--gallery-gap),
      (100vw - var(--content-max-width)) / 2 - var(--gallery-gap)
    );
  }
}

.pretty-scrollbar {
  scrollbar-color: rgb(var(--divider)) transparent;
  scrollbar-width: thin;
}

.pretty-scrollbar::-webkit-scrollbar-thumb {
  border-radius: 6px;
}

.no-scrollbar {
  scrollbar-width: none;
}

[data-nav-container] + main {
  @apply mt-24;
}

main + footer {
  @apply mt-8;
}

[data-preload] {
  transition: none !important;
}

.chroma .hl {
  /* unmaintainable hack to fix offset due to 4px border */
  padding-left: calc(2rem - 4px);
  @apply -mx-8 w-auto border-l-2 border-primary bg-black-400 pr-8 !important;
}

[data-blog-post] .katex-display {
  @apply overflow-x-auto overflow-y-hidden;
}

[data-nav-container] [role='listbox'] [role='option'] {
  @apply hover:bg-hover;
}

[data-nav-container] [role='listbox'] [role='option']:first-child {
  @apply rounded-t-md;
}

[data-nav-container] [role='listbox'] [role='option']:last-child {
  @apply rounded-b-md;
}

svg.feather {
  @apply h-[var(--icon-size)] w-[var(--icon-size)];
}

.utterances {
  @apply mx-0 max-w-prose;
}

.feather-loader {
  animation-duration: 1.5s;
}

details[data-toc-details-wrapper] summary::marker,
details[data-toc-details-wrapper] summary::-webkit-details-marker {
  display: none;
}

@keyframes tooltip-animation {
  0% {
    opacity: 0;
    transform: rotate(-180deg);
  }
  10% {
    transform: rotate(0deg);
  }
  50% {
    opacity: 1;
    transform: translateY(0%);
  }
  100% {
    opacity: 0;
    transform: translateY(-100%);
  }
}

@keyframes marquee-skill-icons {
  0% {
    transform: translateX(0%);
  }

  100% {
    transform: translateX(var(--marquee-reset, 0%));
  }
}

@keyframes waving-hand {
  0% {
    transform: rotate(0deg);
  }
  10% {
    transform: rotate(14deg);
  }
  20% {
    transform: rotate(-8deg);
  }
  30% {
    transform: rotate(14deg);
  }
  40% {
    transform: rotate(-4deg);
  }
  50% {
    transform: rotate(10deg);
  }
  60% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(0deg);
  }
}
