:root {
  --page-padding: 1rem;
  --content-max-width: 64rem;
  --nav-height: 4rem;

  --code-line-height: 1.5;
  --code-horizontal-padding: 2rem;
  --code-vertical-padding: var(--page-padding);
  --code-highlight-width: 2px;

  --primary: hexToRgb(theme(colors.blue.600));
  --primary-hover: hexToRgb(theme(colors.blue.700));
  --on-primary: hexToRgb(theme(colors.beige.100));
  --background: hexToRgb(theme(colors.beige.400));
  --on-background: hexToRgb(theme(colors.neutral.700));
  --surface: hexToRgb(theme(colors.beige.200));
  --hover: hexToRgb(theme(colors.beige.100));
  --disabled: hexToRgb(theme(colors.beige.400));
  --on-disabled: hexToRgb(theme(colors.neutral.400));
  --divider: hexToRgb(theme(colors.beige.600));
  --shadow: hexToRgb(theme(colors.beige.500));
  --note: hexToRgb(theme(colors.blue.600));
  --warn: hexToRgb(theme(colors.red.600));
  color-scheme: light;
}

.dark {
  --primary: hexToRgb(theme(colors.amber.300));
  --primary-hover: hexToRgb(theme(colors.amber.400));
  --on-primary: hexToRgb(theme(colors.neutral.800));
  --background: hexToRgb(theme(colors.neutral.800));
  --on-background: hexToRgb(theme(colors.beige.200));
  --surface: hexToRgb(theme(colors.neutral.700));
  --hover: hexToRgb(theme(colors.neutral.600));
  --disabled: hexToRgb(theme(colors.neutral.400));
  --on-disabled: hexToRgb(theme(colors.beige.100));
  --divider: hexToRgb(theme(colors.neutral.400));
  --shadow: hexToRgb(theme(colors.neutral.900));
  --note: hexToRgb(theme(colors.blue.500));
  --warn: hexToRgb(theme(colors.red.500));
  color-scheme: dark;
}

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  h1,
  h2,
  h3 {
    @apply mb-2 font-serif font-bold;
  }

  code {
    @apply font-mono;
  }

  h1 {
    @apply text-2xl;
  }

  h2 {
    @apply text-xl;
  }

  h3 {
    @apply text-lg;
  }

  :is(h1, h2, h3, h4) a {
    @apply no-underline;
  }

  img {
    @apply max-w-full;
  }

  article p {
    @apply mb-4 leading-relaxed;
  }

  a {
    @apply border-b border-divider no-underline hover:border-primary;
  }

  ul {
    @apply ml-4 mb-4 list-disc;
  }

  ul li::marker {
    @apply text-primary;
  }

  ol {
    @apply ml-4 mb-4 list-decimal;
  }

  blockquote {
    @apply border-l border-divider pl-8;
  }

  kbd {
    @apply inline-block whitespace-nowrap rounded-md bg-surface py-[2px] px-[6px] font-bold leading-none text-on-background shadow-sm shadow-on-background;
  }

  hr {
    @apply border-t border-divider;
  }

  [data-blog-post] > hr {
    @apply overflow-visible border-0 text-center after:content-['â‚'];
  }

  a[rel='external'] svg {
    @apply ml-1 inline-block h-[1em] w-[1em] align-text-top;
  }

  [data-blog-post] details {
    @apply mb-4;
  }

  [data-blog-post] img {
    @apply mx-auto;
  }

  [data-blog-post] figure figcaption {
    @apply mt-2 px-page-padding text-center;
  }

  :is([data-blog-post])
    > :is([data-codeblock], :not([data-codeblock]) pre, figure, blockquote) {
    @apply my-8;
  }

  [data-alert]
    [data-alert-content]
    > :is([data-codeblock], :not([data-codeblock]) pre, figure, blockquote) {
    @apply my-8;
  }

  [data-alert] [data-alert-content] h2:first-of-type {
    @apply mt-0 pt-0;
  }

  [data-blog-post] > :is(figure, :not([data-codeblock]) pre, [data-codeblock]) {
    @apply -mx-page-padding sm:mx-0;
  }

  [data-blog-post] > figure :is(video, img) {
    @apply bg-surface sm:rounded-md;
  }

  [data-blog-post] > figure video {
    @apply min-h-[15em];
  }

  [data-blog-post] .katex-display {
    @apply overflow-x-auto overflow-y-hidden;
  }

  pre {
    @apply overflow-auto rounded-none bg-surface py-[var(--code-vertical-padding)] px-[var(--code-horizontal-padding)] sm:mx-0 sm:rounded-md;
  }

  .highlight pre {
    color-scheme: dark;
  }

  .chroma .hl {
    border-left-width: var(--code-highlight-width);
    margin: 0 calc(var(--code-horizontal-padding) * -1);
    padding-left: calc(2rem - var(--code-highlight-width));
    @apply border-primary !bg-neutral-800 pr-8;
  }

  [data-html-preview-codeblock-container] pre {
    @apply rounded-b-none;
  }

  [data-html-preview-codeblock-container][data-is-expanded='false'] pre {
    @apply max-h-[calc(var(--code-line-height)_*_1em_*_var(--number-of-lines)_+_var(--code-vertical-padding))];
  }

  [data-html-preview-codeblock-container][data-is-expanded='true'] pre {
    @apply max-h-[calc(var(--code-line-height)_*_1em_*_var(--number-of-lines)_+_var(--code-vertical-padding)_*_2)];
  }

  :is(.card, [role='tabpanel']) pre {
    @apply m-0 rounded-md;
  }

  pre code {
    @apply float-left min-w-full leading-[var(--code-line-height)];
  }

  :not(pre) > code {
    @apply break-words px-1 font-bold;
  }

  :not(pre) > code::before,
  :not(pre) > code::after {
    content: '\`';
  }

  [role='tab'][aria-selected='true'] {
    @apply border-t border-primary bg-surface;
  }

  [data-nav-container] [role='listbox'] [role='option'] {
    @apply hover:bg-hover;
  }

  [data-nav-container] [role='listbox'] [role='option']:first-child {
    @apply rounded-t-md;
  }

  [data-nav-container] [role='listbox'] [role='option']:last-child {
    @apply rounded-b-md;
  }

  nav[data-toc] {
    @apply mt-4;
  }

  nav[data-toc-mobile] ol {
    @apply m-0 list-outside px-page-padding;
  }

  nav[data-toc-mobile] ol li:not(:first-child) {
    @apply mt-1;
  }

  nav[data-toc-desktop] ol {
    @apply m-0 list-none indent-4;
  }

  nav[data-toc-desktop] ol ol {
    @apply indent-8;
  }

  nav[data-toc-desktop] ol ol ol {
    @apply indent-12;
  }

  nav[data-toc-desktop] ol ol ol ol {
    @apply indent-16;
  }

  nav[data-toc-desktop] a * {
    @apply indent-0;
  }

  nav[data-toc-desktop] > ol li {
    @apply relative before:absolute before:top-0 before:left-0 before:h-full before:w-[1px] before:bg-divider before:content-[''];
  }

  nav[data-toc-desktop] > ol li[data-active] {
    @apply before:bg-primary;
  }

  nav[data-toc-desktop] > ol li a {
    @apply block w-full whitespace-nowrap border-b-0 transition-colors duration-500 hover:bg-hover;
  }

  nav[data-toc-desktop] > ol li[data-active] > a {
    @apply text-primary;
  }

  .footnotes hr {
    @apply mb-4;
  }
}

@layer components {
  .btn {
    @apply transition-colors duration-500 hover:bg-hover disabled:bg-disabled disabled:text-on-disabled disabled:hover:cursor-not-allowed disabled:hover:bg-disabled;
  }

  .btn-primary {
    @apply rounded-full bg-primary px-4 py-2 text-on-primary hover:bg-primary-hover;
  }

  .btn-secondary {
    @apply rounded-full bg-surface px-4 py-2 text-on-background hover:bg-hover;
  }

  a.btn-primary {
    @apply border-0;
  }

  .btn-icon {
    @apply flex items-center justify-center rounded-md p-1 text-on-background;
  }

  .btn-icon-action {
    @apply border border-divider shadow-md shadow-shadow;
  }

  .chip {
    @apply inline-flex w-fit items-center justify-center rounded-full border border-divider bg-surface px-4;
  }

  .tag {
    @apply chip no-underline shadow-sm shadow-shadow transition-colors duration-500 hover:border-divider hover:bg-hover;
  }

  .alert {
    @apply my-8 flex max-w-prose gap-4 rounded-md border-l bg-surface px-page-padding py-4 shadow-md shadow-shadow sm:mx-0;
  }

  .card {
    @apply rounded-md bg-surface shadow-md shadow-shadow;
  }

  .grid-cols-layout > * {
    @apply col-content;
  }
}

[data-preload] {
  transition: none !important;
}

svg.feather {
  @apply h-[1.5em] w-[1.5em];
}

.utterances {
  @apply mx-0 max-w-prose;
}

@keyframes tooltip-animation {
  0% {
    opacity: 0;
    transform: rotate(-180deg);
  }
  10% {
    transform: rotate(0deg);
  }
  50% {
    opacity: 1;
    transform: translateY(0%);
  }
  100% {
    opacity: 0;
    transform: translateY(-100%);
  }
}
