:root {
  --default-font-family: 'Fira Sans', sans-serif;
  --heading-font-family: 'Merriweather', serif;
  --code-font-family: 'Consolas', 'Menlo', 'Monaco', 'Fira Code', monospace;

  --page-padding: 1rem;
  --gallery-gap: var(--page-padding);
  --content-max-width: 64rem;

  --icon-size: 1.75rem;

  --beige-100: hexToRgb(#fffff5);
  --beige-200: hexToRgb(#f6f6e4);
  --beige-300: hexToRgb(#eeeed3);
  --beige-400: hexToRgb(#e5e5c2);
  --beige-500: hexToRgb(#dddcb2);
  --beige-600: hexToRgb(#d4d4a1);
  --beige-700: hexToRgb(#cccb91);

  --black-100: hexToRgb(#595959);
  --black-200: hexToRgb(#4c4c4c);
  --black-300: hexToRgb(#3e3e3e);
  --black-400: hexToRgb(#323232);
  --black-500: hexToRgb(#262626);
  --black-600: hexToRgb(#1a1a1a);
  --black-700: hexToRgb(#151515);

  --blue: hexToRgb(#558ff7);
  --red: hexToRgb(#dd0022);
  --orange: hexToRgb(#f7bd55);
}

body {
  --primary: var(--blue);
  --foreground: var(--black-200);
  --background: var(--beige-400);
  --surface: var(--beige-200);
  --hover: var(--beige-100);
  --divider: var(--beige-700);
  --note: var(--blue);
  --warn: var(--red);
}

body.dark {
  --primary: var(--orange);
  --foreground: var(--beige-300);
  --background: var(--black-400);
  --surface: var(--black-500);
  --hover: var(--black-600);
  --divider: var(--black-100);
  --note: var(--blue);
  --warn: var(--red);
}

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    @apply text-base sm:text-lg;
  }

  body {
    font-family: var(--default-font-family);
  }

  h1,
  h2,
  h3 {
    font-family: var(--heading-font-family);
    @apply mb-2 font-bold;
  }

  code {
    font-family: var(--code-font-family);
  }

  h1 {
    @apply text-2xl;
  }

  h2 {
    @apply text-xl;
  }

  h3 {
    @apply text-lg;
  }

  img {
    @apply max-w-full;
  }

  article p {
    @apply mb-4 leading-relaxed;
  }

  a {
    @apply no-underline border-b-2 border-divider hover:border-primary;
  }

  :is(h1, h2, h3, h4) a {
    @apply no-underline;
  }

  hr {
    @apply my-4 border-t-2 border-divider;
  }

  [data-blog-post] hr {
    @apply border-0 overflow-visible text-center after:content-['â‚'];
  }

  [data-blog-post] img {
    @apply mx-auto;
  }

  [data-blog-post] figure {
    @apply -mx-page-padding sm:mx-0;
  }

  [data-blog-post] figure figcaption {
    @apply text-center px-page-padding mt-2;
  }

  [data-blog-post] :is(pre, figure, blockquote) {
    @apply my-8;
  }

  pre {
    @apply -mx-page-padding sm:mx-0 py-page-padding px-8 sm:rounded-md overflow-x-auto bg-background;
  }

  :not(pre) > code {
    @apply px-1 font-bold;
  }

  :not(pre) > code::before,
  :not(pre) > code::after {
    content: '\`';
  }

  pre code {
    @apply float-left min-w-full leading-normal;
  }

  ul {
    @apply list-disc ml-4 mb-4;
  }

  ul li::marker {
    @apply text-primary;
  }

  ol {
    @apply list-decimal ml-4 mb-4;
  }

  blockquote {
    @apply pl-8 border-l-2 border-divider;
  }

  kbd {
    padding: 2px 4px;
    box-shadow: 1px 1px 1px rgb(var(--foreground));
    @apply py-[2px] px-[6px] mx-[2px] inline-block rounded-md font-bold whitespace-nowrap align-text-bottom leading-none text-foreground bg-background;
  }

  ::selection {
    @apply bg-foreground text-background;
  }
}

@layer components {
  .btn {
    @apply px-4 py-2 rounded-md;
  }

  .btn-primary {
    @apply bg-foreground text-background;
  }

  .btn-secondary {
    @apply border-2 border-foreground;
  }

  a.btn-primary {
    @apply border-0;
  }

  .btn-icon {
    @apply rounded-full p-2 flex items-center justify-center;
  }

  .chip {
    @apply bg-surface rounded-full border-2 px-4;
  }

  .tag {
    @apply chip no-underline hover:bg-hover;
  }

  .alert {
    @apply max-w-prose flex my-8 gap-4 px-8 py-4 border-y-2 sm:border-2 sm:rounded-md bg-background -mx-page-padding sm:mx-0;
  }

  .card {
    @apply bg-surface rounded-md shadow-md shadow-divider;
  }

  .grid-cols-layout > * {
    @apply col-content;
  }

  .gallery-wrapper {
    @apply overflow-x-scroll snap-x snap-proximity col-full grid grid-cols-[inherit];
  }

  .gallery-wrapper .gallery {
    @apply flex col-content gap-[var(--gallery-gap)];
  }

  .gallery-wrapper .gallery::after {
    content: '';
    align-self: stretch;
    padding-inline-end: max(
      var(--gallery-gap),
      (100vw - var(--content-max-width)) / 2 - var(--gallery-gap)
    );
  }

  .gallery-item {
    @apply snap-center;
  }
}

[data-nav-container] + main {
  @apply mt-24;
}

main + footer {
  @apply mt-8;
}

[data-preload] {
  transition: none !important;
}

.chroma .hl {
  /* unmaintainable hack to fix offset due to 4px border */
  padding-left: calc(2rem - 4px);
  @apply pr-8 -mx-8 w-auto border-l-2 border-primary bg-[#2d2d2d] !important;
}

[data-blog-post] .katex-display {
  @apply overflow-x-auto overflow-y-hidden;
}

svg.feather {
  width: var(--icon-size);
  height: var(--icon-size);
}

.utterances {
  @apply max-w-prose mx-0;
}

.feather-loader {
  animation-duration: 1.5s;
}

@keyframes tooltip-animation {
  0% {
    opacity: 0;
    transform: rotate(-180deg);
  }
  10% {
    transform: rotate(0deg);
  }
  50% {
    opacity: 1;
    transform: translateY(0%);
  }
  100% {
    opacity: 0;
    transform: translateY(-100%);
  }
}

@keyframes skillicons-slideshow {
  0% {
    transform: translateX(0%);
  }

  100% {
    transform: translateX(var(--slideshow-reset, 0%));
  }
}
