:root {
  --page-padding: 1rem;
  --gallery-gap: var(--page-padding);
  --content-max-width: 64rem;
  --nav-height: 4rem;

  --icon-size: 1.5rem;

  --beige-100: hexToRgb(#fffff5);
  --beige-200: hexToRgb(#f6f6e4);
  --beige-300: hexToRgb(#eeeed3);
  --beige-400: hexToRgb(#e5e5c2);
  --beige-500: hexToRgb(#dddcb2);
  --beige-600: hexToRgb(#d4d4a1);
  --beige-700: hexToRgb(#cccb91);

  --black-100: hexToRgb(#595959);
  --black-200: hexToRgb(#4c4c4c);
  --black-300: hexToRgb(#3e3e3e);
  --black-400: hexToRgb(#323232);
  --black-500: hexToRgb(#262626);
  --black-600: hexToRgb(#1a1a1a);
  --black-700: hexToRgb(#151515);

  --blue: hexToRgb(#4169e1);
  --red: hexToRgb(#dd0022);
  --orange: hexToRgb(#f7bd55);

  --code-line-height: 1.5;
  --code-horizontal-padding: 2rem;
  --code-highlight-width: 2px;

  color-scheme: light dark;
}

body {
  --primary: var(--blue);
  --primary-fg: var(--beige-100);
  --foreground: var(--black-200);
  --background: var(--beige-400);
  --surface: var(--beige-200);
  --hover: var(--beige-100);
  --divider: var(--beige-700);
  --shadow: var(--beige-700);
  --note: var(--blue);
  --warn: var(--red);
  color-scheme: light;
}

body.dark {
  --primary: var(--orange);
  --primary-fg: var(--black-600);
  --foreground: var(--beige-300);
  --background: var(--black-500);
  --surface: var(--black-400);
  --hover: var(--black-300);
  --divider: var(--black-100);
  --shadow: var(--black-600);
  --note: var(--blue);
  --warn: var(--red);
  color-scheme: dark;
}

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  h1,
  h2,
  h3 {
    @apply mb-2 font-serif font-bold;
  }

  code {
    @apply font-mono;
  }

  h1 {
    @apply text-2xl;
  }

  h2 {
    @apply text-xl;
  }

  h3 {
    @apply text-lg;
  }

  :is(h1, h2, h3, h4) a {
    @apply no-underline;
  }

  img {
    @apply max-w-full;
  }

  article p {
    @apply mb-4 leading-relaxed;
  }

  a {
    @apply border-b-2 border-divider no-underline hover:border-primary;
  }

  ul {
    @apply ml-4 mb-4 list-disc;
  }

  ul li::marker {
    @apply text-primary;
  }

  ol {
    @apply ml-4 mb-4 list-decimal;
  }

  blockquote {
    @apply border-l-2 border-divider pl-8;
  }

  kbd {
    @apply inline-block whitespace-nowrap rounded-md bg-surface py-[2px] px-[6px] font-bold leading-none text-foreground shadow-sm shadow-foreground;
  }

  ::selection {
    @apply bg-foreground text-background;
  }

  hr {
    @apply border-t-2 border-divider;
  }

  [data-blog-post] > hr {
    @apply overflow-visible border-0 text-center after:content-['â‚'];
  }

  [data-blog-post] details {
    @apply mb-4;
  }

  [data-blog-post] img {
    @apply mx-auto;
  }

  [data-blog-post] figure figcaption {
    @apply mt-2 px-page-padding text-center;
  }

  [data-blog-post] > :is([data-codeblock], figure, blockquote) {
    @apply my-8;
  }

  [data-blog-post] > :is(figure, [data-codeblock]) {
    @apply -mx-page-padding sm:mx-0;
  }

  pre {
    @apply overflow-auto rounded-none bg-surface py-page-padding px-[var(--code-horizontal-padding)] sm:mx-0 sm:rounded-md;
  }

  .highlight pre {
    color-scheme: dark;
  }

  .chroma .hl {
    border-left-width: var(--code-highlight-width);
    margin: 0 calc(var(--code-horizontal-padding) * -1);
    padding-left: calc(2rem - var(--code-highlight-width));
    @apply border-primary !bg-black-400 pr-8;
  }

  [data-html-preview-codeblock-container] pre {
    @apply rounded-b-none;
  }

  [data-html-preview-codeblock-container][data-is-expanded='false'] pre {
    @apply max-h-[calc(var(--code-line-height)_*_1em_*_var(--number-of-lines)_-_var(--page-padding)_*_2)];
  }

  :is(.card, [role='tabpanel']) pre {
    @apply m-0 rounded-md;
  }

  pre code {
    @apply float-left min-w-full leading-[var(--code-line-height)];
  }

  :not(pre) > code {
    @apply break-words px-1 font-bold;
  }

  :not(pre) > code::before,
  :not(pre) > code::after {
    content: '\`';
  }

  [role='tab'][aria-selected='true'] {
    @apply border-t-2 border-primary bg-surface;
  }

  nav[data-toc] {
    @apply mt-4;
  }

  nav[data-toc-mobile] ol {
    @apply m-0 list-outside px-page-padding;
  }

  nav[data-toc-desktop] ol {
    @apply m-0 list-none indent-4;
  }

  nav[data-toc-desktop] ol ol {
    @apply indent-8;
  }

  nav[data-toc-desktop] ol ol ol {
    @apply indent-12;
  }

  nav[data-toc-desktop] ol ol ol ol {
    @apply indent-16;
  }

  nav[data-toc-mobile] ol li:not(:first-child) {
    @apply mt-1;
  }

  nav[data-toc-desktop] > ol li {
    @apply relative before:absolute before:top-0 before:left-0 before:h-full before:w-[2px] before:bg-divider before:content-[''];
  }

  nav[data-toc-desktop] > ol li[data-active] {
    @apply before:bg-primary;
  }

  nav[data-toc-desktop] > ol li[data-active] > a {
    @apply text-primary;
  }

  nav[data-toc-desktop] > ol li a {
    @apply block w-full whitespace-nowrap border-b-0 transition-colors duration-500 hover:bg-hover;
  }
}

@layer components {
  .btn {
    @apply rounded-md px-4 py-2 transition-colors duration-500 hover:bg-hover;
  }

  .btn-primary {
    @apply bg-primary text-primary-fg;
  }

  .btn-secondary {
    @apply bg-surface text-primary;
  }

  a.btn-primary {
    @apply border-0;
  }

  .btn-icon {
    @apply flex items-center justify-center rounded-full bg-surface p-2 text-foreground shadow-md shadow-shadow transition-colors duration-500 hover:bg-hover;
  }

  .btn-icon-action {
    @apply rounded-md border border-divider p-1;
  }

  .chip {
    @apply inline-flex w-fit items-center justify-center rounded-full border-2 border-divider bg-surface px-4;
  }

  .tag {
    @apply chip no-underline shadow-sm shadow-shadow transition-colors duration-500 hover:border-divider hover:bg-hover;
  }

  .alert {
    @apply my-8 flex max-w-prose gap-4 rounded-md border-l-2 bg-surface px-page-padding py-4 shadow-md shadow-shadow sm:mx-0;
  }

  .card {
    @apply rounded-md bg-surface shadow-md shadow-shadow;
  }

  .grid-cols-layout > * {
    @apply col-content;
  }

  .gallery-wrapper {
    @apply col-full grid snap-x snap-proximity grid-cols-[inherit] overflow-x-scroll;
  }

  .gallery-wrapper .gallery {
    @apply col-content flex gap-[var(--gallery-gap)];
  }

  .gallery-wrapper .gallery::after {
    content: '';
    align-self: stretch;
    padding-inline-end: max(
      var(--gallery-gap),
      (100vw - var(--content-max-width)) / 2 - var(--gallery-gap)
    );
  }
}

.no-scrollbar {
  scrollbar-width: none;
}

[data-nav-container] + main {
  @apply mt-24;
}

main + footer {
  @apply mt-8;
}

[data-preload] {
  transition: none !important;
}

[data-blog-post] .katex-display {
  @apply overflow-x-auto overflow-y-hidden;
}

[data-nav-container] [role='listbox'] [role='option'] {
  @apply hover:bg-hover;
}

[data-nav-container] [role='listbox'] [role='option']:first-child {
  @apply rounded-t-md;
}

[data-nav-container] [role='listbox'] [role='option']:last-child {
  @apply rounded-b-md;
}

svg.feather {
  @apply h-[var(--icon-size)] w-[var(--icon-size)];
}

.utterances {
  @apply mx-0 max-w-prose;
}

.feather-loader {
  animation-duration: 1.5s;
}

details[data-toc-details-wrapper] summary::marker,
details[data-toc-details-wrapper] summary::-webkit-details-marker {
  display: none;
}

@keyframes tooltip-animation {
  0% {
    opacity: 0;
    transform: rotate(-180deg);
  }
  10% {
    transform: rotate(0deg);
  }
  50% {
    opacity: 1;
    transform: translateY(0%);
  }
  100% {
    opacity: 0;
    transform: translateY(-100%);
  }
}

@keyframes marquee-skill-icons {
  0% {
    transform: translateX(0%);
  }

  100% {
    transform: translateX(var(--marquee-reset, 0%));
  }
}

@keyframes waving-hand {
  0% {
    transform: rotate(0deg);
  }
  10% {
    transform: rotate(14deg);
  }
  20% {
    transform: rotate(-8deg);
  }
  30% {
    transform: rotate(14deg);
  }
  40% {
    transform: rotate(-4deg);
  }
  50% {
    transform: rotate(10deg);
  }
  60% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(0deg);
  }
}
