@import url(https://fonts.googleapis.com/css?family=Merriweather);

:root {
  --body-max-width: 65ch;
  --black: #2b2b2b;
  --light-black: #4a4a4a;
  --white: #ffffff;
  --light-white: #f5f5f5;
  --beige: #cfcdc2;
  --dark-beige: #b7b291;
  --grey: #e6e1dc;
  --dark-grey: #41413e;
  --orange: #e25822;
  --spacing-1: 0.25em;
  --spacing-2: 0.50em;
  --spacing-3: 0.75em;
  --spacing-4: 1.00em;
  --spacing-5: 1.25em;
  --spacing-6: 1.50em;
  --spacing-7: 1.75em;
  --spacing-8: 2.00em;
  --border-radius: 4px;
}

html {
  height: 100%;
  box-sizing: border-box;
}

*, *:after, *:before {
  box-sizing: inherit;
}

body[data-theme='light'] {
  --bg-color: var(--white);
  --fg-color: var(--black);
  --primary-color: var(--dark-grey);
  --code-bg-color: var(--light-white);
  --code-fg-color: var(--fg-color);
  --hover-fg-color: var(--orange);
  --border-color: var(--beige);
}

body[data-theme='dark'] {
  --bg-color: var(--black);
  --fg-color: var(--grey);
  --primary-color: var(--dark-beige);
  --code-bg-color: var(--light-black);
  --code-fg-color: var(--grey);
  --hover-fg-color: var(--orange);
  --border-color: var(--light-black);
}

body {
  min-height: 100%;
  display: flex;
  flex-flow: column;
  color: var(--fg-color);
  background-color: var(--bg-color);
  font-family: "Georgia", "Merriweather", serif;
  max-width: var(--body-max-width);
  margin: 0 auto;
  padding: var(--spacing-2) var(--spacing-4);
  transition: color 0.25s ease-out, background 0.25s ease-out;
}

.preload {
  -webkit-transition: none !important;
  -moz-transition: none !important;
  -ms-transition: none !important;
  -o-transition: none !important;
}

main {
  flex: 1;
  display: flex;
  flex-flow: column;
}

h1 {
  font-size: var(--spacing-8);
}

h1, h2, h3, h4, h5, h6 {
  color: var(--primary-color);
}

a {
  color: var(--primary-color);
}

a:hover {
  color: var(--hover-fg-color);
}

:is(h1, h2, h3, h4, h5, h6, button, nav) :is(a, a:visited) {
  color: inherit;
  text-decoration: none;
}

p, article li {
  line-height: var(--spacing-6);
}

article :is(h1, h2, h3, h4, h5, h6):not(:first-child) {
  margin-top: var(--spacing-8);
}

article :is(h1, h2, h3, h4, h5, h6) .anchor {
  display: none;
}

article :is(h1, h2, h3, h4, h5, h6):hover .anchor {
  display: inline;
  color: var(--hover-fg-color);
}

img {
  display: block;
  margin: 0 auto;
  max-width: 100%;
}

code {
  font-family: "Consolas", "Fira Mono", monospace;
}

:not(pre) > code {
  background-color: var(--code-bg-color);
  padding: 0 var(--spacing-2);
  border-radius: var(--border-radius);
}

pre {
  padding: var(--spacing-4);
  border-radius: var(--border-radius);
  border: 1px solid var(--border-color);
  overflow-x: auto;
}

pre code {
  float: left;
  min-width: 100%;
  line-height: 1.25;
}

pre .hl {
  background-color: var(--code-bg-color) !important;
  width: auto !important;
  padding-right: var(--spacing-4);
  padding-left: var(--spacing-4);
  margin-left: calc(-1 * var(--spacing-4));
  margin-right: calc(-1 * var(--spacing-4));
}

hr {
  margin: var(--spacing-4) 0;
  border: 1px solid var(--border-color);
  opacity: 0.5;
}

button {
  outline: none;
  appearance: none;
  border: unset;
  cursor: pointer;
}

.button {
  border-radius: var(--border-radius);
  padding: var(--spacing-1) var(--spacing-2);
}

a.button {
  text-decoration: none;
}

.button-primary {
  color: var(--bg-color);
  background-color: var(--primary-color);
}

.button-secondary {
  color: var(--fg-color);
  background-color: var(--bg-color);
  border: 1px solid var(--border-color);
}

button.icon {
  font-size: larger;
  width: 48px;
  height: 48px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
}

button.theme-toggler {
  position: fixed;
  bottom: var(--spacing-6);
  right: var(--spacing-6);
  fill: currentColor;
  opacity: 75%;
  transition: opacity .25s ease-in-out;
}

button.theme-toggler:hover {
  opacity: 100%;
}

header nav {
  display: flex;
  flex-flow: wrap;
  gap: var(--spacing-2);
  margin-bottom: var(--spacing-6);
}

footer {
  text-align: center;
  margin-top: var(--spacing-8);
  margin-bottom: var(--spacing-3);
}

.pages {
  flex: 1;
}

.pages .page hr {
  margin-top: var(--spacing-6);
  margin-bottom: var(--spacing-6);
}

.pages .page:last-child > hr {
  display: none;
}

.pages .page time {
  display: block;
  margin-bottom: var(--spacing-4);
}

.tags {
  display: flex;
  flex-wrap: wrap;
  gap: var(--spacing-2);
}

.pagination {
  text-align: center;
}

.pagination * {
  padding: 0 var(--spacing-1);
}

.archive .posts {
  display: flex;
  flex-flow: column;
}

.archive .posts .post {
  display: grid;
  grid-template-columns: 7ch 1fr;
  margin-bottom: var(--spacing-4);
}

.projects .project .links {
  text-align: end;
  margin-top: var(--spacing-4);
}

.post .metadata {
  display: flex;
  flex-flow: row wrap;
  align-items: center;
  justify-content: space-between;
  margin: calc(-1 * var(--spacing-1));
}

.post .metadata * {
  margin: var(--spacing-1);
}

.adjacent-posts {
  display: grid;
  grid-template-columns: 50% 50%;
  grid-gap: var(--spacing-4);
}

@media screen and (max-width: 420px) {
  .adjacent-posts {
    grid-template-columns: 1fr;
  }
}

.adjacent-posts .next {
  text-align: right;
}

.flex-end {
  display: flex;
  justify-content: flex-end;
}

.not-found {
  align-items: center;
  justify-content: center;
}
