:root {
  --body-max-width: 65ch;
  --black: #2b2b2b;
  --light-black: #4a4a4a;
  --white: #ffffff;
  --light-white: #f5f5f5;
  --beige: #cfcdc2;
  --dark-beige: #cec9a7;
  --grey: #e6e1dc;
  --dark-grey: #41413e;
  --orange: #e25822;
}

body[data-theme='light'] {
  --primary: var(--dark-grey);
  --normal: var(--black);
  --normal-code: var(--normal);
  --background: var(--white);
  --background-code: var(--light-white);
  --highlight: var(--orange);
  --divider: var(--beige);
}

body[data-theme='dark'] {
  --primary: var(--dark-beige);
  --normal: var(--grey);
  --normal-code: var(--grey);
  --background: var(--black);
  --background-code: var(--light-black);
  --highlight: var(--orange);
  --divider: var(--light-black);
}

.preload {
  -webkit-transition: none !important;
  -moz-transition: none !important;
  -ms-transition: none !important;
  -o-transition: none !important;
}

pre .hl {
  background-color: var(--background-code) !important;
  width: auto !important;
}
