:root {
  --default-font-family: 'Fira Sans', sans-serif;
  --heading-font-family: 'Merriweather', serif;
  --code-font-family: 'Consolas', 'Menlo', 'Monaco', 'Fira Code', monospace;

  --icon-size: 1.75rem;

  --beige-100: hexToRgb(#f5f5dc);
  --beige-200: hexToRgb(#edeccd);
  --beige-300: hexToRgb(#e4e4bf);
  --beige-400: hexToRgb(#dcdbb1);
  --beige-500: hexToRgb(#d4d3a2);
  --beige-600: hexToRgb(#ccca94);
  --beige-700: hexToRgb(#c4c286);

  --black-100: hexToRgb(#595959);
  --black-200: hexToRgb(#4c4c4c);
  --black-300: hexToRgb(#3e3e3e);
  --black-400: hexToRgb(#323232);
  --black-500: hexToRgb(#262626);
  --black-600: hexToRgb(#1a1a1a);
  --black-700: hexToRgb(#0d0d0d);

  --blue: hexToRgb(#4076d2);
  --red: hexToRgb(#dd0022);
  --orange: hexToRgb(#ecaa36);
}

body {
  --primary: var(--blue);
  --foreground: var(--black-100);
  --background: var(--beige-100);
  --secondary-background: var(--beige-300);
  --divider: var(--beige-500);
  --note: var(--blue);
  --warn: var(--red);
}

body.dark {
  --primary: var(--orange);
  --foreground: var(--beige-300);
  --background: var(--black-600);
  --secondary-background: var(--black-400);
  --divider: var(--black-100);
  --note: var(--blue);
  --warn: var(--red);
}

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    @apply text-base sm:text-lg;
  }

  body {
    font-family: var(--default-font-family);
  }

  h1,
  h2,
  h3 {
    font-family: var(--heading-font-family);
    @apply mb-2 font-bold;
  }

  code {
    font-family: var(--code-font-family);
  }

  h1 {
    @apply text-2xl;
  }

  h2 {
    @apply text-xl;
  }

  h3 {
    @apply text-lg;
  }

  img {
    @apply max-w-full;
  }

  article p {
    @apply mb-4 leading-relaxed;
  }

  a {
    @apply no-underline border-b-2 border-divider hover:border-primary;
  }

  :is(h1, h2, h3, h4) a {
    @apply no-underline;
  }

  hr {
    @apply my-4 border-t-2 border-divider;
  }

  [data-blog-post] hr {
    @apply border-0 overflow-visible text-center after:content-['â‚'];
  }

  [data-blog-post] img {
    @apply mx-auto;
  }

  [data-blog-post] figure {
    @apply -mx-default-padding sm:mx-0;
  }

  [data-blog-post] figure figcaption {
    @apply text-center px-default-padding mt-2;
  }

  [data-blog-post] :is(pre, figure, blockquote) {
    @apply my-8;
  }

  pre {
    @apply -mx-default-padding sm:mx-0 py-default-padding px-8 sm:rounded-md overflow-x-auto bg-secondary-background;
  }

  :not(pre) > code {
    @apply px-1 font-bold;
  }

  :not(pre) > code::before,
  :not(pre) > code::after {
    content: '\`';
  }

  pre code {
    @apply float-left min-w-full leading-normal;
  }

  ul {
    @apply list-disc ml-4 mb-4;
  }

  ul li::marker {
    @apply text-primary;
  }

  ol {
    @apply list-decimal ml-4 mb-4;
  }

  blockquote {
    @apply pl-8 border-l-2 border-divider;
  }

  kbd {
    padding: 2px 4px;
    box-shadow: 1px 1px 1px rgb(var(--foreground));
    @apply py-[2px] px-[6px] mx-[2px] inline-block rounded-md font-bold whitespace-nowrap align-text-bottom leading-none text-foreground bg-secondary-background;
  }

  ::selection {
    @apply bg-foreground text-background;
  }

  svg.feather {
    @apply w-[var(--icon-size)] h-[var(--icon-size)];
  }
}

@layer components {
  .btn {
    @apply px-4 py-2 rounded-md;
  }

  .btn-primary {
    @apply bg-primary text-background;
  }

  .btn-secondary {
    @apply border-2 border-primary text-primary;
  }

  a.btn-primary {
    @apply border-0;
  }

  .btn-icon {
    @apply rounded-md p-1 flex items-center justify-center;
  }

  .tag {
    @apply no-underline rounded-full border-2 px-4;
  }

  .alert {
    @apply max-w-prose flex my-8 gap-4 px-8 py-4 border-y-2 sm:border-2 sm:rounded-md bg-secondary-background -mx-default-padding sm:mx-0;
  }
}

[data-preload] {
  transition: none !important;
}

.chroma .hl {
  /* unmaintainable hack to fix offset due to 4px border */
  padding-left: calc(2rem - 4px);
  @apply pr-8 -mx-8 w-auto border-l-2 border-primary bg-[#2d2d2d] !important;
}

[data-blog-post] .katex-display {
  @apply overflow-x-auto overflow-y-hidden;
}

svg.feather {
  width: var(--icon-size);
  height: var(--icon-size);
}

.utterances {
  @apply max-w-prose mx-0;
}

.feather-loader {
  animation-duration: 1.5s;
}

@keyframes tooltip-animation {
  0% {
    opacity: 0;
    transform: rotate(-180deg);
  }
  10% {
    transform: rotate(0deg);
  }
  50% {
    opacity: 1;
    transform: translateY(0%);
  }
  100% {
    opacity: 0;
    transform: translateY(-100%);
  }
}
