@import url(https://fonts.googleapis.com/css?family=Merriweather);

:root {
  --body-max-width: 65ch;
  --black: #2b2b2b;
  --light-black: #4a4a4a;
  --white: #ffffff;
  --light-white: #f5f5f5;
  --beige: #cfcdc2;
  --dark-beige: #cec9a7;
  --light-beige: #eee0b1;
  --grey: #e6e1dc;
  --dark-grey: #41413e;
  --orange: #e25822;
}

body[data-theme='light'] {
  --primary: var(--dark-grey);
  --normal: var(--black);
  --normal-code: var(--normal);
  --background: var(--white);
  --background-code: var(--light-white);
  --highlight: var(--orange);
  --divider: var(--beige);
}

body[data-theme='dark'] {
  --primary: var(--dark-beige);
  --normal: var(--grey);
  --normal-code: var(--normal);
  --background: var(--black);
  --background-code: var(--light-black);
  --highlight: var(--light-beige);
  --divider: var(--light-black);
}

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    font-family: "Georgia", "Merriweather", serif;
  }
  img {
    @apply mx-auto max-w-full;
  }
  h1 {
    @apply text-2xl mb-2 font-bold text-primary;
  }
  h2 {
    @apply text-xl mb-2 font-bold text-primary;
  }
  h3 {
    @apply text-lg mb-2 font-bold text-primary;
  }
  p {
    @apply my-5;
  }
  a {
    @apply underline text-primary hover:text-highlight;
  }
  :is(h1, h2, h3, h4) a {
    @apply no-underline;
  }
  hr {
    @apply my-4 border-divider;
  }
  code {
    font-family: "Consolas", "Fira Mono", monospace;
  }
  pre {
    @apply p-4 border rounded overflow-x-auto border-divider;
  }
  :not(pre) > code {
    @apply px-2 rounded bg-background-code;
  }
  pre code {
    @apply float-left min-w-full leading-tight;
  }
  .chroma .hl {
    @apply px-4 -mx-4 bg-background-code w-auto !important;
  }
  .highlight {
    @apply mb-4;
  }
  ul {
    @apply list-disc;
  }
  .preload {
    transition: none !important;
  }
  blockquote {
    @apply pl-8 border-l-2 border-divider;
  }
}
