---
import Site from '@layouts/Site.astro'
import { YouTube } from '@astro-community/astro-embed-youtube'
import { t } from 'i18next'
---

<Site isTranslated={false} title={t('404Title')}>
  <main class="grid grid-cols-layout">
    <div class="col-full grid place-items-center sm:col-content">
      <YouTube id="-RFunvF0mDw" class="w-full" />
    </div>
  </main>
</Site>
