{{ define "main" }}
  <main class="grid grid-cols-layout">
    <div>
      <h1 class="mb-8 text-center">
        {{ .Name | title }}
      </h1>

      <ul class="m-0 grid flex-1 list-none grid-cols-1 gap-4 sm:grid-cols-2">
        {{ range .Pages }}
          <li class="h-full">
            {{ partial "post-card.html" . }}
          </li>
        {{ end }}
      </ul>

      <div class="mt-8 flex justify-center">
        <a class="btn btn-primary rounded-md" href="{{ .Parent.Permalink }}">
          {{ i18n "MoreTags" }}
        </a>
      </div>
    </div>
  </main>
{{ end }}
