{{ define "main" }}
  <main class="grid grid-cols-layout">
    <div>
      <div class="mb-4 flex items-center justify-center gap-2">
        <h1 class="m-0">
          {{ .Name | title }}
        </h1>

        {{ partial "svgs/tag.svg" }}
      </div>

      <ul class="m-0 grid flex-1 list-none grid-cols-1 gap-4 sm:grid-cols-2">
        {{ range .Pages }}
          <li class="h-full">
            {{ partial "post-card.html" . }}
          </li>
        {{ end }}
      </ul>

      <div class="mt-8 flex justify-center">
        <a class="btn btn-primary rounded-md" href="{{ .Parent.Permalink }}">
          {{ i18n "MoreTags" }}
        </a>
      </div>
    </div>
  </main>
{{ end }}
