{{ define "main" }}
  <main class="grid grid-cols-layout">
    <div class="card py-16 px-page-padding sm:px-16">
      <h1 class="mb-0 flex items-center gap-2">
        {{ .Name }}
      </h1>

      <ul class="m-0 flex-1 list-none">
        {{ range .Pages }}
          {{ partial "post-list-item.html" . }}
        {{ end }}
      </ul>

      <div class="mt-8 flex justify-center">
        <a class="btn btn-primary rounded-md" href="{{ .Parent.Permalink }}">
          {{ i18n "MoreTags" }}
        </a>
      </div>
    </div>
  </main>
{{ end }}
