{{ define "main" }}
  <section>
    {{ range .Pages.GroupByDate "2006" }}
      <h3 class="first:mt-0 mt-16 text-2xl">
        <time datetime="{{ .Key }}-01-01">{{ .Key }}</time>
      </h3>

      {{ range .Pages }}
        <article class="mt-8">
          <h2>
            <a href="{{ .Permalink }}">{{ .Title }}</a>
          </h2>

          <div class="flex flex-wrap gap-2">
            <time datetime="{{ .Date.Format "2006-01-02" }}">
              {{ if eq .Lang "en" }}
                {{ .Date.Format "Jan, 02" }}
              {{ else }}
                {{ index $.Site.Data.portugueseMonths (printf "%d" .Date.Month) }}
                {{ .Date.Day }}
              {{ end }}
            </time>
          </div>
        </article>
      {{ end }}

    {{ end }}
  </section>
{{ end }}
