{{ define "main" }}
  <main class="grid grid-cols-layout">
    <div class="mb-4 hidden flex-row items-center justify-center gap-2 sm:flex">
      <h1 class="m-0">Posts</h1>

      {{ partial "rss-button.html" . }}
    </div>

    <div>
      {{ range $i, $pagesByYear := .Pages.GroupByDate "2006" }}
        {{ $year := $pagesByYear.Key }}


        <div class="mx-auto mt-16 mb-8 w-full max-w-prose first:mt-0">
          <h2 class="mb-0 text-2xl">
            <time datetime="{{ $year }}-01-01">{{ $year }}</time>
          </h2>
        </div>

        <ul
          class="m-0 mx-auto grid w-full max-w-2xl list-none grid-cols-1 gap-4"
        >
          {{ range .Pages }}
            <li class="h-full">
              {{ partial "post-card.html" . }}
            </li>
          {{ end }}
        </ul>
      {{ end }}
    </div>
  </main>
{{ end }}

{{ define "partials/post-navbar-title" }}
  <div class="flex flex-row items-center gap-2">
    Posts

    <span class="text-sm">
      {{ partial "rss-button.html" . }}
    </span>
  </div>
{{ end }}

{{ define "navbar-title" }}
  {{ .Scratch.Set "navbarTitle" "partials/post-navbar-title" }}
{{ end }}
