<!DOCTYPE html>
<html class="h-full text-2xl">
  <head>
    <meta charset="UTF-8" />
    {{ partial "css-fonts.html" . }}
    {{ partial "css-global.html" . }}
  </head>

  <body
    class="h-full border-b-[8px] border-primary bg-background px-4 font-sans text-on-background"
  >
    <div class="flex h-full flex-col justify-center">
      <div class="flex-1"></div>

      <div class="mx-auto mb-6">
        <h1 class="m-0 text-center text-4xl">
          {{ .Title }}
        </h1>
      </div>

      <div class="mx-auto flex gap-2 text-xl">
        {{ partial "post-date.html" . }}
        {{ partial "post-reading-time.html" . }}
      </div>

      <div class="flex-1"></div>

      <div class="flex flex-row items-center justify-center gap-6">
        <div class="flex-shrink-0">
          {{ partialCached "partials/simple-gravatar" . }}
        </div>

        <div class="flex flex-col">
          <h2 class="m-0">
            {{ .Site.Params.author }}
          </h2>

          <span class="max-w-sm">
            {{ .Site.Params.Description }}
          </span>
        </div>
      </div>

      <div class="flex-1"></div>
    </div>
  </body>
</html>

{{ define "partials/simple-gravatar" }}
  {{ $gravatarUrl := printf "https://www.gravatar.com/avatar/%v?s=%v" (md5 .Site.Params.email) 150 }}

  {{ with resources.GetRemote $gravatarUrl }}
    <img class="rounded-full border border-divider" src="{{ $gravatarUrl }}" />
  {{ end }}
{{ end }}
