{{ define "main" }}
  <article>
    <h1>{{ .Title }}</h1>

    <time datetime="{{ .Date.Format "2006-01-02" }}">
      {{ .Date.Format "Jan 02, 2006" }}
    </time>

    <div class="sm:flex gap-2 mt-4">
      {{ partial "post-tags.html" . }}
    </div>

    <hr class="my-8" />

    {{ .Content }}

    <hr class="my-8" />

    <nav aria-label="{{ i18n "PostsNavigation" }}">
      <div class="float-left sm:max-w-1/2 flex group gap-2">
        {{ with .PrevInSection }}
          <div class="group-hover:text-highlight">
            ←
          </div>

          <a class="border-0" href="{{ .RelPermalink }}" title="{{ i18n "PrevPost" }}">
            {{ .Title }}
          </a>
        {{ end }}
      </div>

      <div class="float-right text-right mt-2 sm:mt-0 sm:max-w-1/2 flex group justify-end gap-2">
        {{ with .NextInSection }}
          <a class="border-0" href="{{ .RelPermalink }}" title="{{ i18n "NextPost" }}">
            {{ .Title }}
          </a>

          <div class="group-hover:text-highlight">
            →
          </div>
        {{ end }}
      </div>
    </nav>
  </article>
{{ end }}
