---
import { Timer } from 'lucide-react'

type Props = {
  readingTime: number
}

const { readingTime } = Astro.props
---

<div class="flex items-center gap-2">
  <Timer />

  <div>{Math.floor(readingTime)} min.</div>
</div>
