<aside
  class:list={[
    'my-8',
    'flex',
    'gap-4',
    'sm:rounded-sm',
    'border-y',
    'sm:border-y-0',
    'sm:border-l',
    'bg-surface',
    'max-sm:full-bleed',
    'px-horizontal-padding',
    'py-4',
    'sm:shadow-xs',
    'sm:shadow-shadow',
    'sm:mx-0',
    'flex-row',
    Astro.props.class,
  ]}
>
  <div class=''>
    <slot name='icon' />
  </div>

  <article
    class='min-w-0 [&_p]:max-w-prose first-of-type:[&_h2]:mt-0 first-of-type:[&_h2]:pt-0'
  >
    <slot />
  </article>
</aside>
