---
import { Calendar } from 'lucide-react'
import { format } from 'date-fns'
import enUS from 'date-fns/locale/en-US/index.js'
import ptBR from 'date-fns/locale/pt-BR/index.js'
import type { Locale } from '@utils/i18n/locales'

type Props = {
  locale: Locale
  date: Date
  showYear: boolean
}

let dateFormat = 'MMMM dd'
if (Astro.props.showYear) {
  dateFormat = 'MMMM dd, yyyy'
}

const isPortuguese = Astro.props.locale === 'pt'
if (isPortuguese) {
  dateFormat = "d ' de ' MMMM"
  if (Astro.props.showYear) {
    dateFormat = "d ' de ' MMMM, yyyy"
  }
}

const formattedDisplayDate = format(Astro.props.date, dateFormat, {
  locale: isPortuguese ? ptBR : enUS,
})
---

<div class='flex items-center gap-2'>
  <Calendar size='1.25em' className='flex-shrink-0' />

  <time datetime={format(Astro.props.date, 'yyyy-MM-dd')}>
    {formattedDisplayDate}
  </time>
</div>
