---
import type { HTMLAttributes } from 'astro/types'
import DevIcon, { DevIcons } from './DevIcon.astro'
import type { Locale } from '@utils/i18n/locales'
import { getRelativeLocaleUrl } from 'astro:i18n'
import { Tag } from 'lucide-react'

type Props = HTMLAttributes<'a'> & {
  locale: Locale
  tag: string
  count?: number
  children?: never
}

const { locale, tag, count, class: className = '' } = Astro.props
---

<a
  class:list={[
    'inline-flex gap-2 w-fit items-center justify-center rounded-full border border-divider bg-surface px-4 no-underline shadow-sm shadow-shadow transition-colors duration-300 hover:border-divider hover:bg-hover whitespace-nowrap',
    tag in DevIcons ? 'order-1' : 'order-2',
    className,
  ]}
  href={tag === '...'
    ? getRelativeLocaleUrl(locale, '/tags')
    : getRelativeLocaleUrl(locale, `/tags/${tag}`)}
>
  {
    tag in DevIcons ? (
      <DevIcon size='1em' name={tag as keyof typeof DevIcons} />
    ) : tag !== '...' ? (
      <Tag size='1em' />
    ) : null
  }

  {tag}

  {
    count ? (
      <div class='inline-flex items-center justify-center border-l border-l-divider pl-2 text-sm'>
        {count}
      </div>
    ) : null
  }
</a>
