---
import { Calendar } from 'lucide-react'
import { format } from 'date-fns'
import ptBR from 'date-fns/locale/pt-BR/index.js'
import { getLanguageFromUrl } from '@utils/i18n'

type Props = {
  date: Date
}

const date = Astro.props.date

let formattedDate = format(date, 'MMMM dd')

if (getLanguageFromUrl(Astro.url.pathname) === 'pt') {
  formattedDate = format(date, "d ' de ' MMMM", {
    locale: ptBR,
  })
}
---

<div class="flex items-center gap-2">
  <Calendar />

  <time datetime={format(date, 'yyyy-MM-dd')}>
    {formattedDate}
  </time>
</div>
