---
import { ChevronDown } from 'lucide-react'
---

<details class="group mb-4">
  <summary class="mb-4 list-none gap-2">
    <span
      class="[&_svg]:inline [&_svg]:transition-transform [&_svg]:duration-150 [&_svg]:ease-in [&_svg]:group-open:rotate-180"
    >
      <ChevronDown />
    </span>

    <slot name="summary" />
  </summary>

  <slot />
</details>
