<aside
  class:list={[
    'my-8',
    'flex',
    'gap-4',
    'sm:rounded',
    'border-y',
    'sm:border-y-0',
    'sm:border-l',
    'bg-surface',
    'full-width-on-mobile',
    'px-horizontal-padding',
    'py-4',
    'sm:shadow',
    'sm:shadow-shadow',
    'sm:mx-0',
    'flex-row',
    Astro.props.class,
  ]}
>
  <div class="">
    <slot name="icon" />
  </div>

  <article
    class="overflow-x-hidden max-w-prose [&_h2]:first-of-type:mt-0 [&_h2]:first-of-type:pt-0"
  >
    <slot />
  </article>
</aside>
