---
import Contact from './Contact.astro'
import { getLanguageFromUrl } from '@utils/i18n'
import Link from './Link.astro'

const language = getLanguageFromUrl(Astro.url.pathname)
---

<footer class="border-t border-divider bg-background sm:border-0">
  <div
    class="mx-auto flex w-full max-w-content flex-col items-center px-horizontal-padding pt-4 pb-8 sm:justify-between"
  >
    <Contact />

    <span class="text-center">
      {
        language === 'pt' ? (
          <>
            All content is under a{' '}
            <Link
              rel="license"
              href="http://creativecommons.org/licenses/by/4.0/"
            >Creative Commons Attribution 4.0</Link>
            license.
          </>
        ) : (
          <>
            Todo conteúdo está sob a licença{' '}
            <Link
              rel="license"
              href="http://creativecommons.org/licenses/by/4.0/"
            >Creative Commons Attribution 4.0</Link>.
          </>
        )
      }
    </span>
  </div>
</footer>
