---
import { useTranslate } from '@utils/i18n/useTranslate'
import Contact from './Contact.astro'

const t = useTranslate(Astro)
---

<footer class="border-t border-divider bg-background sm:border-0">
  <div
    class="mx-auto flex w-full max-w-content flex-col items-center gap-2 px-horizontal-padding pt-4 pb-8 sm:justify-between"
  >
    <Contact />

    <span class="text-center" set:html={t('License')} />
  </div>
</footer>
