---
import Contact from './Contact.astro'
import Link from './Link.astro'
import type { Locale } from '@utils/i18n/locales'

type Props = {
  locale: Locale
}
---

<footer class="bg-background grid grid-cols-layout">
  <div
    class="mx-auto flex w-full max-w-content flex-col pt-4 pb-8 sm:justify-between"
  >
    <Contact locale={Astro.props.locale} />

    <span class="text-sm">
      {
        Astro.props.locale === 'en' ? (
          <>
            All content is under a{' '}
            <Link
              rel="license"
              href="http://creativecommons.org/licenses/by/4.0/"
            >Creative Commons Attribution 4.0</Link>
            license.
          </>
        ) : (
          <>
            Todo conteúdo está sob a licença{' '}
            <Link
              rel="license"
              href="http://creativecommons.org/licenses/by/4.0/"
            >Creative Commons Attribution 4.0</Link>.
          </>
        )
      }
    </span>
  </div>
</footer>
