---
import type { HTMLAttributes } from 'astro/types'

type Props = HTMLAttributes<'a'>

const { class: className, ...rest } = Astro.props
---

<a class:list={['link', className]} {...rest}><slot /></a>
