---
import NavMobile from './NavMobile.astro'
import NavDesktop from './NavDesktop.astro'

type Props = {
  title: string
  mobileNavTitle: string | null
  isTranslated: boolean
}

const { title, mobileNavTitle, isTranslated } = Astro.props
---

<div class='w-full'>
  <div class='pt-nav-height sm:hidden'>
    <NavMobile title={title} mobileNavTitle={mobileNavTitle} />
  </div>

  <div class='hidden h-full w-full sm:block'>
    <NavDesktop isTranslated={isTranslated} />
  </div>
</div>
