---
import { useTranslate, getLanguageFromUrl, localizeUrl } from '@utils/i18n'
import { isActiveMenuItem, getMainMenuItems } from '@utils/menu'
import ThemeSelect from './ThemeSelect.astro'
import LanguageSelect from './LanguageSelect.astro'
import Button from './Button'

type Props = {
  isTranslated: boolean
}

const { isTranslated } = Astro.props

const t = useTranslate(Astro)

const language = getLanguageFromUrl(Astro.url.pathname)
const mainMenuItems = getMainMenuItems(language)
---

<div
  class="flex h-full w-full items-center justify-between bg-background pr-horizontal-padding"
>
  <div class="mx-auto py-3 flex h-full w-full max-w-content justify-between">
    <nav
      class="flex h-full justify-between px-horizontal-padding"
      aria-label={t('MainNavigation')}
    >
      <ul class="m-0 flex list-none flex-row flex-nowrap items-center gap-2">
        {
          mainMenuItems.map((item) => {
            const isActive = isActiveMenuItem({
              currentPathname: Astro.url.pathname,
              menuItemPathname: item.pathname,
              rootPathname: localizeUrl('/', language),
            })

            return (
              <li>
                <Button
                  id={item.identifier}
                  href={item.pathname}
                  color={isActive ? 'primary' : 'secondary'}
                  {...(isActive && { 'aria-current': 'page' })}
                >
                  {t(item.name)}
                </Button>
              </li>
            )
          })
        }
      </ul>
    </nav>

    <div class="h-full flex flex-row gap-2">
      {isTranslated && <LanguageSelect />}

      <ThemeSelect />
    </div>
  </div>
</div>
