---
import { useTranslate, getLanguageFromUrl, localizeUrl } from '@utils/i18n'
import { isActiveMenuItem, MAIN_MENU_ITEMS } from '@utils/menu'
import ThemeSelect from './ThemeSelect.astro'
import LanguageSelect from './LanguageSelect.astro'

type Props = {
  isTranslated: boolean
}

const { isTranslated } = Astro.props

const t = useTranslate(Astro)

const language = getLanguageFromUrl(Astro.url.pathname)
---

<div
  class='flex h-full w-full items-center justify-between bg-background pr-horizontal-padding'
>
  <div class='mx-auto py-3 flex h-full w-full max-w-content justify-between'>
    <nav
      class='flex h-full justify-between px-horizontal-padding'
      aria-label={t.MainNavigation()}
    >
      <ul class='m-0 flex list-none flex-row flex-nowrap items-center gap-2'>
        {
          MAIN_MENU_ITEMS.map((item) => {
            const isActive = isActiveMenuItem({
              currentPathname: Astro.url.pathname,
              menuItemPathname: localizeUrl(item.pathname, language),
              rootPathname: localizeUrl('/', language),
            })

            return (
              <li>
                <a
                  id={item.identifier}
                  href={localizeUrl(item.pathname, language)}
                  class:list={['p-2', 'group']}
                  {...(isActive && { 'aria-current': 'page' })}
                >
                  <span
                    class:list={[
                      'underline underline-offset-8 decoration-2',
                      isActive
                        ? 'decoration-primary group-hover:decoration-primary-hover'
                        : 'decoration-transparent group-hover:decoration-hover',
                    ]}
                  >
                    {t[item.name]()}
                  </span>
                </a>
              </li>
            )
          })
        }
      </ul>
    </nav>

    <div class='h-full flex flex-row gap-2'>
      {isTranslated && <LanguageSelect />}

      <ThemeSelect />
    </div>
  </div>
</div>
