---
import { useTranslate, getLanguageFromUrl, localizeUrl } from '@utils/i18n'
import { isActiveMenuItem, getMainMenuItems } from '@utils/menu'
import ThemeSelect from './ThemeSelect.astro'
import LanguageSelect from './LanguageSelect.astro'

const t = useTranslate(Astro)

const language = getLanguageFromUrl(Astro.url.pathname)
const mainMenuItems = getMainMenuItems(language)
---

<div
  class="flex h-full w-full items-center justify-between bg-background pr-horizontal-padding"
>
  <div class="mx-auto py-3 flex h-full w-full max-w-content justify-between">
    <nav
      class="flex h-full justify-between px-horizontal-padding"
      aria-label={t('MainNavigation')}
    >
      <ul class="m-0 flex list-none flex-row flex-nowrap items-center gap-2">
        {
          mainMenuItems.map((item) => {
            const isActive = isActiveMenuItem({
              currentPathname: Astro.url.pathname,
              menuItemPathname: item.pathname,
              rootPathname: localizeUrl('/', language),
            })

            return (
              <li>
                <a
                  id={item.identifier}
                  href={item.pathname}
                  class:list={[
                    isActive
                      ? 'bg-primary text-on-primary card hover:bg-primary-hover'
                      : 'hover:bg-hover',
                    'relative flex items-center justify-center rounded border-0 py-1 px-2 transition-colors duration-300',
                  ]}
                  {...(isActive && { 'aria-current': 'page' })}
                >
                  {t(item.name)}
                </a>
              </li>
            )
          })
        }
      </ul>
    </nav>

    <div class="h-full flex flex-row gap-2">
      <LanguageSelect />

      <ThemeSelect />
    </div>
  </div>
</div>
