---
import { ArrowLeft, ArrowRight } from 'lucide-react'
import { useTranslate } from '@utils/i18n/useTranslate'
import type { CollectionEntry } from 'astro:content'
import type { Locale } from '@utils/i18n/locales'
import { getRelativeLocaleUrl } from 'astro:i18n'
import { getBlogPostFolderName } from '@utils/posts/getBlogPostFolderName'

type Props = {
  class?: string
  locale: Locale
  prevBlogPost: CollectionEntry<'posts'> | null
  nextBlogPost: CollectionEntry<'posts'> | null
}

const t = useTranslate(Astro.props.locale)

const { locale, prevBlogPost, nextBlogPost, class: className } = Astro.props
---

<nav
  class:list={['flex items-stretch sm:gap-4', className]}
  aria-label={t['PostsNavigation']}
>
  {
    prevBlogPost ? (
      <a
        class='sm:card flex flex-1 flex-col gap-2 border-0 px-horizontal-padding py-4 transition-colors duration-300 hover:bg-hover'
        href={getRelativeLocaleUrl(
          locale,
          '/posts/' + getBlogPostFolderName(prevBlogPost)
        )}
      >
        <span class='text-primary'>
          <ArrowLeft />
        </span>

        {prevBlogPost.data.title}
      </a>
    ) : (
      <div class='flex-1' />
    )
  }

  <div class='border-l border-divider sm:hidden'></div>

  {
    nextBlogPost && (
      <a
        class='sm:card flex flex-1 flex-col-reverse items-end justify-end gap-2 border-0 px-horizontal-padding py-4 text-right transition-colors duration-300 hover:bg-hover'
        href={getRelativeLocaleUrl(
          locale,
          '/posts/' + getBlogPostFolderName(nextBlogPost)
        )}
      >
        {nextBlogPost.data.title}

        <span class='text-primary'>
          <ArrowRight />
        </span>
      </a>
    )
  }
</nav>
