---
import type { HTMLAttributes } from 'astro/types'
import { twMerge } from 'tailwind-merge'

type Props = HTMLAttributes<'span'>
---

<span
  style={{
    '--svg-size': 'calc(var(--icon-size) - 8px)',
  }}
  class={twMerge(
    Astro.props.class,
    'flex items-center justify-center w-(--icon-size) h-(--icon-size) [&_svg]:w-(--svg-size) [&_svg]:h-(--svg-size) pointer-events-none',
  )}
>
  <slot />
</span>
