---
import { twMerge } from 'tailwind-merge'

const hasStartIcon = Astro.slots.has('start-icon')
const hasEndIcon = Astro.slots.has('end-icon')
---

<div class="relative flex h-full flex-row items-center">
  {
    hasStartIcon && (
      <span class="pointer-events-none absolute left-2 top-1/2 -translate-y-1/2 text-sm">
        <slot name="start-icon" />
      </span>
    )
  }

  <select
    class:list={twMerge([
      'card h-full appearance-none bg-surface py-1 text-center [&_option]:text-sm',
      hasStartIcon && 'pl-8 pr-2',
      hasEndIcon && 'pr-8',
      hasStartIcon && hasEndIcon && 'px-10',
    ])}
    {...Astro.props}
  >
    <slot />
  </select>

  {
    hasEndIcon && (
      <span class="pointer-events-none absolute right-2 top-1/2 -translate-y-1/2 text-sm">
        <slot name="end-icon" />
      </span>
    )
  }
</div>
