---
import { ChevronDown } from 'lucide-react'
import type { HTMLAttributes } from 'astro/types'

type Props = HTMLAttributes<'select'> & {
  variant?: 'default' | 'ghost'
}

const { variant = 'default', ...rest } = Astro.props

const hasStartIcon = Astro.slots.has('start-icon')
---

<div
  style={{
    '--cols': hasStartIcon ? 3 : 2,
  }}
  class:list={[
    'rounded items-center grid grid-cols-[repeat(var(--cols),1fr)]',
    variant === 'default'
      ? 'bg-surface shadow-sm shadow-shadow'
      : 'bg-background',
  ]}
>
  <select
    class:list={[
      'rounded',
      'bg-inherit',
      'appearance-none',
      'text-center',
      'row-start-1',
      // TODO: not using col-span-full is terrible, but I did not make it work otherwise
      'col-[1_/_calc(var(--cols)+1)]',
      hasStartIcon ? 'px-8' : 'pr-8',
    ]}
    {...rest}
  >
    <slot />
  </select>

  {
    hasStartIcon && (
      <span class='pointer-events-none col-start-1 row-start-1 px-1 text-sm'>
        <slot name='start-icon' />
      </span>
    )
  }

  <span
    class='flex flex-row justify-end pointer-events-none text-sm row-start-1 px-1 col-[var(--cols)_/_var(--cols)]'
  >
    <ChevronDown slot='end-icon' />
  </span>
</div>
