---
import { ChevronDown } from 'lucide-react'
import type { HTMLAttributes } from 'astro/types'
import SelectIcon from '@components/SelectIcon.astro'

type Props = HTMLAttributes<'select'> & {
  variant?: 'default' | 'ghost'
}

const { variant = 'default', ...rest } = Astro.props

const hasStartIcon = Astro.slots.has('start-icon')
---

<div
  style={{
    '--cols': hasStartIcon ? 3 : 2,
    '--select-padding': '24px',
  }}
  class:list={[
    'px-1 rounded-sm items-center grid auto-cols-max justify-between',
    variant === 'default'
      ? 'bg-surface shadow-xs shadow-shadow'
      : 'bg-background',
  ]}
>
  <select
    class:list={[
      'py-1',
      'sm:py-0',
      'rounded-sm',
      'bg-inherit',
      'appearance-none',
      'text-center',
      'row-start-1',
      'col-start-1',
      'col-end-4',
      hasStartIcon
        ? 'px-(--select-padding)'
        : 'pr-(--select-padding)',
    ]}
    {...rest}
  >
    <slot />
  </select>

  {
    hasStartIcon && (
      <SelectIcon class='col-span-1 col-start-1 row-start-1'>
        <slot name='start-icon' />
      </SelectIcon>
    )
  }

  <SelectIcon class='justify-self-end row-start-1 col-start-3 col-span-1'>
    <ChevronDown />
  </SelectIcon>
</div>
