---
import { twMerge } from 'tailwind-merge'
import { ChevronDown } from 'lucide-react'
import type { HTMLAttributes } from 'astro/types'

type Props = HTMLAttributes<'select'> & {
  variant?: 'default' | 'ghost'
}

const { variant = 'default', ...rest } = Astro.props

const hasStartIcon = Astro.slots.has('start-icon')
---

<div
  class:list={[
    'rounded justify-between flex-row items-center grid grid-cols-[repeat(3,minmax(fit-content,1fr)]',
    variant === 'default'
      ? 'bg-surface shadow-sm shadow-shadow'
      : 'bg-background',
  ]}
>
  <select
    class:list={twMerge([
      'py-1 px-8 rounded bg-inherit appearance-none text-center row-start-1 col-start-1 col-end-4',
    ])}
    {...rest}
  >
    <slot />
  </select>

  {
    hasStartIcon && (
      <span class="pointer-events-none col-start-1 row-start-1 px-1 text-sm">
        <slot name="start-icon" />
      </span>
    )
  }

  <span class="pointer-events-none text-sm row-start-1 col-start-3 px-1">
    <ChevronDown slot="end-icon" />
  </span>
</div>
