---
import { twMerge } from 'tailwind-merge'
import { ChevronDown } from 'lucide-react'

const hasStartIcon = Astro.slots.has('start-icon')
---

<div
  class="relative bg-surface shadow-sm shadow-shadow rounded flex justify-between flex-row items-center"
>
  {
    hasStartIcon && (
      <span class="pointer-events-none absolute left-2 top-1/2 -translate-y-1/2 text-sm">
        <slot name="start-icon" />
      </span>
    )
  }

  <select
    class:list={twMerge([
      'py-1 h-full w-full rounded bg-surface appearance-none text-center pr-9',
      hasStartIcon && 'pl-9',
    ])}
    {...Astro.props}
  >
    <slot />
  </select>

  <span
    class="pointer-events-none absolute right-2 top-1/2 -translate-y-1/2 text-sm"
  >
    <ChevronDown slot="end-icon" />
  </span>
</div>
