---
import type { HTMLAttributes } from 'astro/types'

// eslint-disable-next-line @typescript-eslint/no-unused-vars
type Props = HTMLAttributes<'a'> & {
  tag: string
  // eslint-disable-next-line @typescript-eslint/no-explicit-any
  children?: any
}

const { tag, class: className = '' } = Astro.props

const children = Astro.slots.render('default')
---

<a
  class:list={[
    'inline-flex w-fit items-center justify-center rounded-full border border-divider bg-surface px-4 no-underline shadow shadow-shadow transition-colors duration-300 hover:border-divider hover:bg-hover whitespace-nowrap',
    className,
  ]}
  href={tag === '...' ? '/tags' : `/tags/${tag}`}
>
  {children ?? tag}
</a>
