---
import type { HTMLAttributes } from 'astro/types'
import DevIcon from './DevIcon.astro'
import type { DevIconName } from './DevIcon.astro'
import { localizeUrl, getLanguageFromUrl } from '@utils/i18n'
import { upperFirst } from 'lodash'
import { isDevIcon } from '@utils/devicons'

type Props = HTMLAttributes<'a'> & {
  tag: string
  count?: number
  children?: never
}

const language = getLanguageFromUrl(Astro.url.pathname)

const { tag, count, class: className = '' } = Astro.props

let tagDevIconName: DevIconName | null = null

const tagComponentName = upperFirst(tag)
if (isDevIcon(tagComponentName)) {
  tagDevIconName = tagComponentName
} else {
  const tagToIconName: Record<string, DevIconName> = {
    'react native': 'React',
    nvim: 'Vim',
    macos: 'Apple',
  }

  tagDevIconName = tagToIconName[tag] ?? null
}
---

<a
  class:list={[
    'inline-flex gap-2 w-fit items-center justify-center rounded-full border border-divider bg-surface px-4 no-underline shadow-sm shadow-shadow transition-colors duration-300 hover:border-divider hover:bg-hover whitespace-nowrap [&_svg]:w-[1em] [&_svg]:h-[1em]',
    tagDevIconName ? 'order-1' : 'order-2',
    className,
  ]}
  href={tag === '...'
    ? localizeUrl('/tags', language)
    : localizeUrl(`/tags/${tag}`, language)}
>
  {tagDevIconName !== null && <DevIcon name={tagDevIconName} />}

  {tag}

  {
    count ? (
      <div class='inline-flex items-center justify-center border-l border-l-divider pl-2 text-sm'>
        {count}
      </div>
    ) : null
  }
</a>
