---
import type { MarkdownHeading } from 'astro'

type Item = MarkdownHeading & {
  children: Item[]
}

type Props = {
  items: Item[]
}

const { items } = Astro.props
---

<ol>
  {
    items.map((item) => {
      return (
        <li>
          <a href={`#${item.slug}`}>{item.text}</a>

          {item.children && <Astro.self items={item.children} />}
        </li>
      )
    })
  }
</ol>
