{{ $devicon := partial "partials/devicon.html" . }}

{{ $hasDevicon := ne $devicon.Icon "" }}
{{ $hasFilename := false }}
{{ with .Attributes.filename }}
  {{ $hasFilename = true }}
{{ end }}
{{ $hasHeader := or $hasDevicon $hasFilename }}


<div
  data-codeblock
  class="{{ cond $hasHeader "mt-16 [&_pre]:sm:rounded-tl-none" "mt-8" }} group relative mb-8 [&_pre]:shadow [&_pre]:shadow-shadow [&_.highlight_pre]:[color-scheme:_dark]"
>
  {{ if $hasHeader }}
    <div
      data-codeblock-header
      class="absolute top-0 left-horizontal-padding mx-auto max-w-[calc(100%-var(--horizontal-padding)*2)] -translate-y-full overflow-hidden sm:left-0"
    >
      <div
        class="chroma flex items-center gap-2 rounded-t border-t border-primary px-2 py-1"
      >
        <div class="shrink-0">
          {{ if $hasDevicon }}
            <div class="h-[24px] w-[24px] [&>svg_*]:fill-current">
              {{ $devicon.Icon }}
            </div>
          {{ else }}
            {{ partial "svgs/file-text.svg" . }}
          {{ end }}
        </div>

        {{ with .Attributes.filename }}
          <div class="rtl truncate text-right">
            <bdi>
              {{- . -}}
            </bdi>
          </div>
        {{ else }}
          <div>
            {{ $devicon.Type | title }}
          </div>
        {{ end }}
      </div>
    </div>
  {{ end }}

  {{ highlight .Inner .Type .Options }}


  <button
    data-copy-code-button
    class="{{ cond .Type "dark" "" }} btn btn-icon btn-icon-action pointer-events-none absolute right-0 top-3 hidden -translate-x-1/2 bg-surface opacity-0 transition-opacity duration-500 group-hover:pointer-events-auto group-hover:opacity-100"
    aria-label="{{ i18n "CopyCodeButtonLabel" }}"
  >
    {{ partial "svgs/clipboard.svg" }}
  </button>
</div>
