<nav aria-label="{{ i18n "Contacts" }}" class="flex gap-2">
  {{ $styles := "rounded-full transition-colors duration-500 hover:bg-hover p-2 [&_svg]:transition-colors [&_svg]:duration-200 hover:text-primary" }}


  <a
    id="contact-email"
    class="{{ $styles }} border-0"
    href="mailto:{{ .Site.Params.email }}"
    aria-label="E-mail"
  >
    {{ partial "svgs/mail.svg" }}
  </a>

  <a
    id="contact-linkedin"
    class="{{ $styles }} border-0"
    href="{{ .Site.Params.linkedin }}"
    aria-label="LinkedIn"
  >
    {{ partial "svgs/linkedin.svg" }}
  </a>

  <a
    id="contact-github"
    class="{{ $styles }} border-0"
    href="{{ .Site.Params.github }}"
    aria-label="GitHub"
  >
    {{ partial "svgs/github.svg" }}
  </a>
</nav>
