{{ define "partials/animated-icon-classes" }}
transform hover:scale-110 hover:text-primary transition transition-transform transition-colors
{{ end }}

<div class="flex gap-4" style="--icon-size: 24px;">
  <a class="border-0 {{ partial "animated-icon-classes" }}" href="mailto:{{ .Site.Params.email }}" title="E-mail">
    {{ partial "svgs/mail.svg" (dict "width" "var(--icon-size)" "height" "var(--icon-size)") }}
  </a>

  <a class="border-0 {{ partial "animated-icon-classes" }}" href="{{ .Site.Params.linkedin }}" title="LinkedIn">
    {{ partial "svgs/linkedin.svg" (dict "width" "var(--icon-size)" "height" "var(--icon-size)") }}
  </a>

  <a class="border-0 {{ partial "animated-icon-classes" }}" href="{{ .Site.Params.github }}" title="GitHub">
    {{ partial "svgs/github.svg" (dict "width" "var(--icon-size)" "height" "var(--icon-size)") }}
  </a>
</div>
