{{ define "partials/animated-icon-classes" }}
transform hover:scale-110 hover:text-primary transition transition-transform transition-colors
{{ end }}

<div class="flex gap-4">
  <a class="border-0 {{ partial "animated-icon-classes" }}" href="mailto:{{ .Site.Params.email }}" title="E-mail">
    {{ partial "svgs/mail.svg" }}
  </a>

  {{ with ($.Site.GetPage "/posts").OutputFormats.Get "rss" -}}
    <a class="border-0 {{ partial "animated-icon-classes" }}" href="{{ .Permalink }}">
      {{ partial "svgs/rss.svg" }}
    </a>
  {{ end }}

  <a class="border-0 {{ partial "animated-icon-classes" }}" href="{{ .Site.Params.linkedin }}" title="LinkedIn">
    {{ partial "svgs/linkedin.svg" }}
  </a>

  <a class="border-0 {{ partial "animated-icon-classes" }}" href="{{ .Site.Params.github }}" title="GitHub">
    {{ partial "svgs/github.svg" }}
  </a>
</div>
