{{ $fileIcon := "" }}

{{ $fileType := .Type }}

{{ $fileTypeToDevicon := (dict
  "jsx" "react"
  "tsx" "react"
  "js" "javascript"
  "ts" "typescript"
  "css" "css3"
  "html" "html5"
  "shell" "bash"
  "shell-session" "bash"
  )
}}

{{ with index $fileTypeToDevicon $fileType }}
  {{ $fileType = . }}
{{ end }}

{{ if $fileType }}
  {{ $url := printf "https://cdn.jsdelivr.net/gh/devicons/devicon/icons/%s/%s-plain.svg" $fileType $fileType }}
  {{ $devicon := resources.GetRemote $url }}

  {{ if $devicon.Err }}
    {{ $url = printf "https://cdn.jsdelivr.net/gh/devicons/devicon/icons/%s/%s-original.svg" $fileType $fileType }}
    {{ $devicon = resources.GetRemote $url }}
  {{ end }}

  {{ with $devicon }}
    {{ with .Err }}
      {{ warnf "failed to fetch url %s: %s" . $url }}
    {{ else }}
      {{ $fileIcon = .Content | safeHTML }}
    {{ end }}
  {{ end }}
{{ end }}

{{ return (dict "Type" $fileType "Icon" $fileIcon) }}
