<footer class="mt-16 text-right text-sm">
  <div class="mb-2">
    <a href="{{ .Site.Params.tinyletter }}">
      {{ i18n "Subscribe" }}
    </a>
    ·
    {{ with .OutputFormats.Get "rss" -}}
      <a href="{{ .Permalink }}">RSS</a>
    {{ end -}}
  </div>

  {{- if .IsTranslated -}}
    {{- range .Translations -}}
      <a class="inline-block mb-2" href="{{ .Permalink | absLangURL }}" title="{{ i18n .Lang }}">
        {{ i18n .Lang }}
      </a>
    {{ end }}
  {{ end }}

  <div>{{ i18n "License" | safeHTML }}</div>
</footer>
