<header>
  <h2>
    <a href="{{ .Site.Home.Permalink }}">
      {{ .Site.Title }}
    </a>
  </h2>

  <nav>
    <ul>
      {{- range .Site.Menus.main -}}
        <li class="section"><a href="{{ .URL | absLangURL }}">{{ i18n .Name | default .Name }}</a></li>
      {{- end -}}
      {{- if .IsTranslated -}}
        <li class="translation">
          {{- range .Translations -}}
            <a href="{{ .Permalink | absLangURL }}" title="{{ i18n "Translation" . }}">
              {{ .Lang | title }}
            </a>
          {{- end -}}
        </li>
      {{- end -}}
    </ul>
  </nav>
</header>
