<header>
  <h2>
    <a href="{{ .Site.Home.Permalink }}">
      {{ .Site.Title }}
    </a>
  </h2>

  <nav>
    <div class="items">
      {{- range .Site.Menus.main -}}
        <div class="item section"><a href="{{ .URL | absLangURL }}">{{ i18n .Name | default .Name }}</a></div>
      {{- end -}}

      {{- if .IsTranslated -}}
        <div class="item translation">
          {{- range .Translations -}}
            <a href="{{ .Permalink | absLangURL }}" title="{{ i18n "Translation" . }}">
              {{ .Lang | upper }}
            </a>
          {{- end -}}
        </div>
      {{- end -}}
    </div>
  </nav>
</header>
