<div
  data-html-preview-iframe-container
  class="relative bg-[white] py-8 px-horizontal-padding"
>
  <button
    data-html-preview-iframe-refresh
    aria-label="{{ i18n "RefreshApp" }}"
    class="btn btn-icon btn-icon-action btn-secondary absolute top-3 right-0 -translate-x-1/2 shadow shadow-shadow"
  >
    {{ partial "svgs/refresh-cw.svg" . }}
  </button>

  <div
    data-html-preview-iframe-loading
    role="progressbar"
    class="flex justify-center [&_svg]:animate-spin [&_svg]:duration-[1500ms]"
  >
    {{ partial "svgs/loader.svg" . }}
  </div>

  <iframe
    class="max-w-full"
    src="{{ .Resource.Permalink }}"
    title="{{ .Title }}"
    onload="this.parentElement.querySelector('[data-html-preview-iframe-loading]').remove()"
  >
  </iframe>
</div>
