{{ $linesOfCode := len (findRE "\n" .SourceCode) }}
{{ $maxLinesOfCode := 20 }}
{{ $tooMuchLinesOfCode := gt $linesOfCode $maxLinesOfCode }}


<div data-html-preview class="my-8 -mx-horizontal-padding sm:mx-0">
  <div
    data-html-preview-codeblock-container
    data-max-lines-of-code="{{ $maxLinesOfCode }}"
    style="--number-of-lines: {{ $maxLinesOfCode }};"
    data-is-expanded="{{ cond $tooMuchLinesOfCode "false" "true" }}"
    class="
      sm:rounded-t-md
      [&_pre]:rounded-b-none
      [&_[data-codeblock]]:my-0
      [&[data-is-expanded=false]_pre]:max-h-[calc(var(--code-line-height)_*_1em_*_var(--number-of-lines)_+_var(--code-vertical-padding))]
      [&[data-is-expanded=true]_pre]:max-h-[calc(var(--code-line-height)_*_1em_*_var(--number-of-lines)_+_var(--code-vertical-padding)_*_2)]
    "
  >
    {{ partial "codeblock.html" (dict "Inner" .SourceCode "Type" .Language "Options" .HighlightOptions) }}
  </div>

  {{ if $tooMuchLinesOfCode }}
    <hr />

    <button
      data-html-expand-collapse-button
      class="btn btn-secondary flex w-full items-center justify-center rounded-none py-1"
    >
      <span data-text>
        {{ i18n "ShowMore" }}
      </span>

      {{ partial "svgs/chevron-down.svg" }}
    </button>
  {{ end }}


  <hr />

  {{ partial "html-preview-iframe.html" (dict "Resource" .IframeResource "Title" (.Title)) }}
</div>
