{{ $linesOfCode := len (findRE "\n" .SourceCode) }}
{{ $maxLinesOfCode := 20 }}
{{ $tooMuchLinesOfCode := gt $linesOfCode $maxLinesOfCode }}


<div data-html-preview class="my-8 -mx-page-padding sm:mx-0">
  <div
    data-html-preview-codeblock-container
    data-max-lines-of-code="{{ $maxLinesOfCode }}"
    style="--number-of-lines: {{ $maxLinesOfCode }};"
    class="sm:rounded-t-md"
    data-is-expanded="{{ cond $tooMuchLinesOfCode "false" "true" }}"
  >
    {{ partial "codeblock.html" (dict "Inner" .SourceCode "Type" .Language "Options" .HighlightOptions) }}
  </div>

  {{ if $tooMuchLinesOfCode }}
    <hr />

    <button
      data-html-expand-collapse-button
      class="btn-secondary flex w-full items-center justify-center rounded-none py-1"
    >
      <span data-text>
        {{ i18n "ShowMore" }}
      </span>

      {{ partial "svgs/chevron-down.svg" }}
    </button>
  {{ end }}


  <hr />

  {{ partial "html-preview-iframe.html" (dict "Resource" .IframeResource) }}
</div>
