{{ range where .Translations ".Lang" "!=" .Lang }}
  {{ if eq .Lang "pt" }}
    <a
      class="h-full border-0"
      href="{{ .Permalink }}"
      aria-label="Ler em Português"
    >
      <img
        class="h-full w-16 rounded-md object-cover object-center sm:w-12"
        height="25"
        width="50"
        src="https://cdn.jsdelivr.net/gh/hampusborgos/country-flags@main/svg/br.svg"
      />
    </a>
  {{ else if eq .Lang "en" }}
    <a
      class="h-full border-0"
      href="{{ .Permalink }}"
      aria-label="Read in English"
    >
      <img
        class="h-full w-16 rounded-md object-cover object-left-top sm:w-12"
        height="25"
        width="50"
        src="https://cdn.jsdelivr.net/gh/hampusborgos/country-flags@main/svg/us.svg"
      />
    </a>
  {{ end }}
{{ end }}
