<ul
  data-language-menu
  id="language-menu"
  class="absolute top-0 left-0 bg-background border border-divider rounded z-50 shadow-md shadow-divider/50 flex flex-col list-none m-0 text-lg"
  style="visibility: hidden; opacity: 0; pointer-events: none;"
  role="menu"
  aria-orientation="vertical"
  aria-activedescendant="language-{{ .Lang }}"
  aria-label="{{ i18n "LanguageOptions" }}"
  tabindex="-1"
>
  {{ range (sort (union (slice .) .Translations) ".Lang") }}
    <li
      id="language-{{ .Lang }}"
      class="px-2 py-1 m-0 cursor-pointer flex items-center gap-1"
      role="menuitem"
      tabindex="-1"
      {{ if (eq $.Lang .Lang) }}aria-selected="true"{{ end }}
    >
      <a
        class="border-0"
        href="{{ .Permalink }}"
        data-lang="{{ .Lang }}"
      >
        {{ .Language.LanguageName }}
      </a>
    </li>
  {{ end }}
</ul>
