<ul
  data-language-menu
  id="language-menu"
  class="card absolute top-0 left-0 z-50 m-0 flex list-none flex-col border border-divider text-lg"
  style="visibility: hidden; opacity: 0; pointer-events: none;"
  role="menu"
  aria-orientation="vertical"
  aria-activedescendant="language-{{ .Lang }}"
  aria-label="{{ i18n "LanguageOptions" }}"
  tabindex="-1"
>
  {{ range (sort (union (slice .) .Translations) ".Lang") }}
    <li
      id="language-{{ .Lang }}"
      class="m-0 flex cursor-pointer items-center gap-1 px-2 py-1"
      role="menuitem"
      tabindex="-1"
      {{ if (eq $.Lang .Lang) }}aria-selected="true"{{ end }}
    >
      <a class="border-0" href="{{ .Permalink }}" data-lang="{{ .Lang }}">
        {{ .Language.LanguageName }}
      </a>
    </li>
  {{ end }}
</ul>
