<div
  class="flex h-full w-full items-center justify-between bg-background pr-horizontal-padding"
>
  <div class="mx-auto flex h-full w-full max-w-content justify-between">
    <nav
      class="flex h-full justify-between overflow-x-auto px-horizontal-padding"
      aria-label="{{ i18n "MainNavigation" }}"
    >
      <ul class="m-0 flex list-none flex-row flex-nowrap items-center gap-2">
        {{- range .Site.Menus.main -}}
          {{ $isActive := eq $.Section .Page.Section }}


          <li class="">
            <a
              id="{{ .Identifier }}"
              href="{{ .URL | absLangURL }}"
              {{ if $isActive }}
                aria-current="page"
              {{ end }}
              class="
                 {{ if $isActive }}
                bg-primary card hover:bg-primary-hover
              {{ else }}
                hover:bg-hover
              {{ end }}
                 relative
                 flex
                 items-center
                 justify-center
                 rounded
                 border-0
                 py-1
                 px-2
                 transition-colors
                 duration-300
               "
            >
              <span class="{{ cond $isActive "text-on-primary" "" }}">
                {{ i18n .Name | default .Name }}
              </span>
            </a>
          </li>
        {{- end -}}
      </ul>
    </nav>

    <div class="h-full py-3">
      <div class="flex h-full flex-row items-stretch gap-2 pl-2">
        {{ partial "theme-select.html" . }}
      </div>
    </div>
  </div>
</div>
