<div data-nav-container class="fixed top-0 w-full h-20 bg-secondary-background z-30 transition-transform transition-duration-700 transition-ease-out">
  <div class="h-full pt-4 pb-4 flex items-center justify-between mx-auto max-w-5xl pr-default-padding">
    <nav class="h-full py-1 overflow-x-auto flex items-center px-default-padding" aria-label="{{ i18n "MainNavigation" }}">
      {{ $currentPage := . }}

      <ul class="m-0 list-none flex items-center flex-row flex-nowrap gap-2 h-full">
        {{- range .Site.Menus.main -}}
          <li class="h-full">
            <a
              id="{{ .Identifier }}"
              href="{{ .URL | absLangURL }}"
              class="
                h-full
                border-0
                px-2
                flex
                relative
                items-center
                justify-center
                rounded-md
                {{ if (or ($currentPage.IsMenuCurrent "main" .) ($currentPage.HasMenuCurrent "main" .)) }}
                  active
                  bg-background
                  shadow-md
                  shadow-divider
                {{ else }}
                  after:content-['']
                  after:absolute
                  after:-z-10
                  after:bg-background
                  after:w-full
                  after:h-full
                  after:rounded-md
                  after:duration-500
                  after:transition-transform
                  after:scale-0
                  hover:after:scale-100
                  after:shadow-md
                  after:shadow-divider
                  after:opacity-0
                  hover:after:opacity-100
                  after:transition-opacity
                {{ end }}
              "
            >
              {{ i18n .Name | default .Name }}
            </a>
          </li>
        {{- end -}}
      </ul>
    </nav>

    <div class="h-full py-1">
      <div class="h-full px-2 flex items-center gap-2 bg-background rounded-md shadow-md shadow-divider">
        {{ if .IsTranslated }}
          {{ partial "language-button.html" . }}
        {{ end }}
        {{ partial "theme-button.html" . }}
      </div>
    </div>

    {{ if .IsTranslated }}
      {{ partial "language-menu.html" . }}
    {{ end }}
    {{ partial "theme-menu.html" . }}
  </div>
</div>
