<div data-nav-container class="overflow-hidden sticky bg-background bg-opacity-80 backdrop-filter backdrop-blur-sm top-0 py-4 mt-6 flex-shrink-0 z-50">
  <div class="flex items-center justify-between mx-auto max-w-prose px-4">
    <nav class="" aria-label="{{ i18n "MainNavigation" }}">
      {{ $currentPage := . }}

      <div class="flex flex-row flex-wrap gap-2">
        {{- range .Site.Menus.main -}}
          <a
            id="{{ .Identifier }}"
            class="text-foreground {{ if (or ($currentPage.IsMenuCurrent "main" .) ($currentPage.HasMenuCurrent "main" .)) -}}border-primary{{- end -}}"
            href="{{ .URL | absLangURL }}"
          >
            {{ i18n .Name | default .Name }}
          </a>
        {{- end -}}
      </div>
    </nav>

    {{ partial "theme-button.html" }}
  </div>
</div>
