<div data-nav-container class="sticky bg-background bg-opacity-90 backdrop-filter backdrop-blur-sm top-0 my-4 py-4 flex-shrink-0 z-30 will-change-transform transition-transform duration-200 ease-linear" style="transform: translateY(0%);">
  <div class="flex items-center justify-between mx-auto max-w-5xl px-4">
    <nav class="" aria-label="{{ i18n "MainNavigation" }}">
      {{ $currentPage := . }}

      <div class="flex flex-row flex-wrap gap-2">
        {{- range .Site.Menus.main -}}
          <a
            id="{{ .Identifier }}"
            class="{{ if (or ($currentPage.IsMenuCurrent "main" .) ($currentPage.HasMenuCurrent "main" .)) -}}border-primary{{- end -}}"
            href="{{ .URL | absLangURL }}"
          >
            {{ i18n .Name | default .Name }}
          </a>
        {{- end -}}
      </div>
    </nav>

    <div class="flex items-center">
      {{ partial "theme-button.html" }}
    </div>
  </div>
</div>
