<section class="pages">
  {{ range (.Paginator 10).Pages }}
    <div class="page">
      <h2 class="title">
        <a href="{{ .Permalink }}">{{ .Title }}</a>
      </h2>

      <time datetime="{{ .Date.Format "2006-01-02" }}">
        {{ if eq .Lang "en" }}
          {{ .Date.Format "January 02, 2006" }}
        {{ else }}
          {{ index $.Site.Data.portugueseMonths (printf "%d" .Date.Month) }}
          {{ .Date.Day }},
          {{ .Date.Year }}
        {{ end }}
      </time>

      <div class="tags">
        {{- range (or (.GetTerms "tags") (.GetTerms "softwares")) -}}
          <a class="tag" href="{{ .Permalink }}">{{ .Title }}</a>
        {{- end -}}
      </div>

      <hr>
    </div>
  {{ end }}
</section>

{{ if gt .Paginator.TotalPages 1 }}
  {{ partial "pagination.html" . }}
{{ end }}
