<nav
  class="flex flex-wrap justify-between gap-2 sm:flex-nowrap"
  aria-label="{{ i18n "PostsNavigation" }}"
>
  {{ with .PrevInSection }}
    <a
      class="flex grow basis-1/2 items-center gap-2 border-0"
      href="{{ .RelPermalink }}"
    >
      <span class="text-primary">
        {{ partial "svgs/arrow-left.svg" }}
      </span>

      {{ .Title }}
    </a>
  {{ end }}

  {{ with .NextInSection }}
    <a
      class="flex h-full grow basis-1/2 items-center justify-end gap-2 self-end border-0 text-right"
      href="{{ .RelPermalink }}"
    >
      {{ .Title }}


      <span class="text-primary">
        {{ partial "svgs/arrow-right.svg" }}
      </span>
    </a>
  {{ end }}
</nav>
