<nav
  class="grid grid-cols-1 gap-2 sm:grid-cols-2"
  aria-label="{{ i18n "PostsNavigation" }}"
>
  {{ with .PrevInSection }}
    <a
      class="card flex items-center gap-2 border-0 p-2 transition-colors duration-500 hover:bg-hover"
      href="{{ .RelPermalink }}"
    >
      <span class="text-primary">
        {{ partial "svgs/arrow-left.svg" }}
      </span>

      {{ .Title }}
    </a>
  {{ else }}
    <!-- spacer element to keep next link to the right, when there is no
      previous post -->
    <div></div>
  {{ end }}

  {{ with .NextInSection }}
    <a
      class="card flex items-center justify-end gap-2 self-end border-0 p-2 text-right transition-colors duration-500 hover:bg-hover"
      href="{{ .RelPermalink }}"
    >
      {{ .Title }}


      <span class="text-primary">
        {{ partial "svgs/arrow-right.svg" }}
      </span>
    </a>
  {{ else }}
    <div></div>
  {{ end }}
</nav>
