<div class="mt-8 flex flex-col gap-2">
  <h2>
    <a class="border-0" href="{{ .Permalink }}">{{ .Title }}</a>
  </h2>

  <div class="flex gap-2" style="--icon-size: 24px;">
    <div class="flex items-center gap-2">
      {{ partial "svgs/calendar.svg" . }}

      <time class="" datetime="{{ .Date.Format "2006-01-02" }}">
        {{ if eq .Lang "en" }}
          {{ .Date.Format "January, 02" }}
        {{ else }}
          {{ .Date.Day }} de {{ index $.Site.Data.portugueseMonths (printf "%d" .Date.Month) }}
        {{ end }}
      </time>
    </div>

    <div class="flex items-center gap-2">
      {{ partial "svgs/book-open.svg" . }}

      <div>
        {{ .ReadingTime }} min.
      </div>
    </div>
  </div>
</div>
