<article class="card flex h-full flex-col justify-between p-8">
  <div>
    <h1 class="max-w-md">
      <a href="{{ .Permalink }}">
        {{ .Title }}
      </a>
    </h1>

    <div
      class="nowrap -mx-8 mt-4 mb-4 flex snap-x snap-proximity scroll-pl-8 gap-2 overflow-x-auto px-8 pb-4"
    >
      {{ range (.GetTerms "tags") }}
        <a href="{{ .RelPermalink }}" class="tag snap-start whitespace-nowrap">
          {{- .Title -}}
        </a>
      {{ end }}
    </div>
  </div>

  <div class="max-w-sm">
    {{ .Summary }}
  </div>

  <div class="mt-8 flex gap-2 whitespace-nowrap">
    {{ partial "post-reading-time.html" . }}

    {{ partial "post-date.html" . }}
  </div>
</article>
