<article class="card flex h-full flex-col justify-between p-8">
  <div>
    <h3 class="text-2xl">
      <a href="{{ .Permalink }}">
        {{ .Title }}
      </a>
    </h3>

    <div
      class="-mx-8 mt-4 mb-2 flex snap-x snap-proximity scroll-pl-8 flex-wrap gap-2 overflow-x-auto px-8 pb-2"
    >
      {{ range (.GetTerms "tags") }}
        <a href="{{ .RelPermalink }}" class="tag snap-start whitespace-nowrap">
          {{- .Title -}}
        </a>
      {{ end }}
    </div>
  </div>

  <div class="max-w-prose">
    {{ .Summary }}
  </div>

  <div class="mt-4 flex gap-2 whitespace-nowrap">
    {{ partial "post-reading-time.html" . }}

    {{ partial "post-date.html" . }}
  </div>
</article>
