<article class="card p-8 h-full flex flex-col justify-between">
  <div>
    <h1 class="max-w-md">
      <a href="{{ .Permalink }}">
        {{ .Title }}
      </a>
    </h1>

    <div
      class="mt-4 flex nowrap overflow-x-auto gap-2 -mx-8 px-8 pb-4 mb-4 snap-x snap-proximity scroll-pl-8"
    >
      {{ range (.GetTerms "tags") }}
        <a href="{{ .RelPermalink }}" class="tag whitespace-nowrap snap-start">
          {{- .Title -}}
        </a>
      {{ end }}
    </div>
  </div>

  <div class="max-w-sm">
    {{ .Summary }}
  </div>

  <div class="flex whitespace-nowrap gap-2 mt-8">
    {{ partial "post-reading-time.html" . }}

    {{ partial "post-date.html" . }}
  </div>
</article>
