<article class="card flex flex-row w-full h-full">
  {{ with (index (.Resources.ByType "image") 0) }}
    <img
      class="object-cover object-left-top max-w-full rounded-l-md"
      src="{{ .Permalink }}"
      alt=""
      width="300"
    />
  {{ end }}


  <div class="p-8 max-w-xs flex flex-col justify-between">
    <div>
      <h1 class="text-md mb-4">
        <a href="{{ .Params.website }}">{{ .Title }}</a>
      </h1>

      {{ .Content }}
    </div>

    <div class="flex gap-2">
      {{ with .Params.github }}
        <a class="btn btn-icon border-0 text-xl" href="{{ . }}">
          {{ partial "svgs/github.svg" }}
        </a>
      {{ end }}
    </div>
  </div>
</article>
