<article class="card flex h-full w-full max-w-xs flex-col justify-between p-8">
  <div>
    <div class="mb-4 flex items-center gap-2">
      <h3 class="text-md m-0 whitespace-nowrap text-2xl">
        <a href="{{ .Params.website }}">{{ .Title }}</a>
      </h3>

      {{ partial "svgs/external-link.svg" . }}
    </div>

    {{ .Content }}
  </div>

  <div class="flex gap-2">
    {{ with .Params.github }}
      <a class="btn btn-icon border-0 text-xl" href="{{ . }}">
        {{ partial "svgs/github.svg" }}
      </a>
    {{ end }}
  </div>
</article>
