{{ $isUnmaintained := isset .Params "unmaintained" }}


<article class="card grid grid-cols-1 rounded-md sm:grid-cols-[40%_60%]">
  <div class="relative">
    {{ with (index (.Resources.ByType "image") 0) }}
      <img
        class="max-h-[250px] min-w-full rounded-t-md object-cover object-left-top sm:h-full sm:max-h-full sm:rounded-l-md"
        src="{{ .Permalink }}"
        alt=""
      />
    {{ end }}

    {{ if $isUnmaintained }}
      <div
        class="absolute top-2 right-2 rounded-md bg-warn px-2 py-1 text-background dark:text-foreground"
      >
        Unmaintained
      </div>
    {{ else }}
      <time
        class="absolute top-2 right-2 rounded-md bg-foreground px-2 py-1 text-background"
        datetime="{{ .Date.Format "2006-01-02" }}"
      >
        {{ .Date.Format "2006" }}
      </time>
    {{ end }}
  </div>

  <div class="flex-1 px-8 py-4 sm:flex sm:flex-col sm:justify-between">
    <div class="flex flex-col gap-2">
      <div class="flex items-center justify-between">
        <h2 class="m-0 inline-block">
          {{ if isset .Params "website" }}
            <a class="flex items-center gap-2" href="{{ .Params.website }}">
              {{ .Title }}
            </a>
          {{ else }}
            {{ .Title }}
          {{ end }}
        </h2>

        {{ with .Params.github }}
          <a class="btn btn-icon border-0 text-xl" href="{{ . }}">
            {{ partial "svgs/github.svg" }}
          </a>
        {{ end }}
      </div>

      {{ .Content }}
    </div>

    <div class="mt-4 flex flex-nowrap justify-between gap-2">
      <div class="flex items-center gap-2 overflow-x-auto">
        <img
          class="h-10"
          src="https://skillicons.dev/icons?i={{ delimit .Params.icons "," }}&theme=light"
          alt="{{ i18n "Tech" }}: {{ delimit .Params.icons ", " (printf " %s " (i18n "And")) }}"
        />
      </div>
    </div>
  </div>
</article>
