<article class="card flex h-full w-full max-w-xs flex-col justify-between p-8">
  <div>
    <header class="mb-4 flex items-center gap-2">
      {{ if .Params.website }}
        <h3 class="m-0 text-2xl">
          <a href="{{ .Params.website }}">{{ .Title }}</a>
        </h3>
      {{ else }}
        <h3 class="m-0 text-2xl">{{ .Title }}</h3>
      {{ end }}
    </header>

    {{ .Content }}
  </div>

  <div class="flex gap-2">
    {{ with .Params.github }}
      <a
        class="btn btn-icon border-0 text-xl"
        href="{{ . }}"
        aria-label="GitHub"
      >
        {{ partial "svgs/github.svg" }}
      </a>
    {{ end }}
  </div>
</article>
