<aside
  data-a11y-dialog="sidenav"
  aria-hidden="true"
  class="fixed z-50 h-full w-full"
  style="visibility: hidden;"
>
  <div
    data-a11y-dialog-hide
    class="fixed inset-0 -z-1 w-full bg-neutral-700 bg-opacity-75 backdrop-blur-sm"
  ></div>

  <div
    role="document"
    class="ml-auto h-full w-3/4 rounded-none bg-background py-0"
  >
    <div class="flex h-full flex-col justify-between">
      <div
        class="mb-2 flex h-nav-height items-center justify-end px-horizontal-padding"
      >
        <button data-a11y-dialog-hide class="btn btn-icon" aria-label="Close">
          {{ partial "svgs/x.svg" . }}
        </button>
      </div>

      <nav class="flex flex-1 flex-col">
        <ul
          class="m-0 flex list-none flex-col items-center justify-center gap-4 px-horizontal-padding"
        >
          {{- range .Site.Menus.main -}}
            {{ $isActive := eq $.Section .Page.Section }}
            {{ $styles := cond $isActive `card hover:bg-hover` `hover:bg-surface` }}


            <li class="w-full">
              <a
                id="{{ .Identifier }}"
                href="{{ .URL | absLangURL }}"
                {{ if $isActive }}
                  aria-current="page"
                {{ end }}
                class="
                  {{ $styles }}
                  block
                  w-full
                  rounded-md
                  border-0
                  p-2
                  text-center
                  text-xl
                  transition-colors
                  duration-300
                "
              >
                {{ i18n .Name | default .Name }}
              </a>
            </li>
          {{- end -}}
        </ul>
      </nav>

      <div
        class="{{ if .IsTranslated }}
          justify-between
        {{ else }}
          justify-center
        {{ end }} mb-4 flex h-12 flex-row items-center px-horizontal-padding"
      >
        {{ partial "theme-select.html" . }}

        {{ if .IsTranslated }}
          {{ partial "language-links.html" . }}
        {{ end }}
      </div>
    </div>
  </div>
</aside>
