<button
  data-theme-button
  class="btn btn-icon btn-secondary"
  aria-label="{{ i18n "ThemeButton" }}"
  aria-expanded="false"
  aria-controls="theme-menu"
  aria-haspopup="true"
>
  <svg width="24" height="24" viewBox="0 0 24 24">
    <title>{{ i18n "ThemeIcon" }}</title>

    <defs>
      {{ partial "svgs/moon.svg" }}
      {{ partial "svgs/sun.svg" }}
      {{ partial "svgs/monitor.svg" }}
    </defs>

    <use data-theme-button-svg-icon href="#sun" />
  </svg>
</button>

{{
$themeOptions := (
     slice
     (dict "Id" "light" "IconName" "sun"     "Name" (i18n "Light"))
     (dict "Id" "dark"  "IconName" "moon"    "Name" (i18n "Dark"))
     (dict "Id" "auto"  "IconName" "monitor" "Name" (i18n "System"))
)
}}

<ul
  data-theme-menu
  id="theme-menu"
  class="absolute bg-background border border-divider rounded z-50 shadow-xl shadow-divider/50 flex flex-col list-none m-0 text-lg"
  style="visibility: hidden; opacity: 0; pointer-events: none;"
  role="menu"
  aria-orientation="vertical"
  aria-activedescendant="theme-option-auto"
  aria-label="{{ i18n "ThemeOptions" }}"
  tabindex="-1"
>
{{ range $themeOptions }}
  <li
    class="px-2 py-1 m-0 cursor-pointer flex items-center gap-1"
    id="theme-option-{{ .Id }}"
    data-theme="{{ .Id }}"
    role="menuitem"
    tabindex="-1"
  >
    {{ partial (printf "svgs/%s.svg" .IconName) (dict "width" 16 "height" 16) }}
    {{ .Name }}
  </li>
{{ end }}
</ul>
