<button
  data-theme-button
  class="btn btn-icon"
  aria-label="{{ i18n "ThemeButton" }}"
  aria-expanded="false"
  aria-controls="theme-listbox"
  aria-haspopup="true"
>
  <svg class="feather" viewBox="0 0 24 24">
    <title>{{ i18n "ThemeIcon" }}</title>

    <defs>
      {{ partial "svgs/moon.svg" (dict "HTMLAttrs" (`id="moon"` | safeHTMLAttr)) }}
      {{ partial "svgs/sun.svg" (dict "HTMLAttrs" (`id="sun"` | safeHTMLAttr)) }}
      {{ partial "svgs/monitor.svg" (dict "HTMLAttrs" (`id="monitor"` | safeHTMLAttr)) }}
    </defs>

    <use data-theme-button-svg-icon href="#sun"></use>
  </svg>
</button>
