<button
  id="theme-button"
  class="text-background bg-primary rounded-full w-12 h-12 fixed bottom-6 right-6 opacity-75 hover:opacity-100 transition transition-opacity duration-75 ease-in-out"
  aria-label="{{ i18n "ThemeButton" }}"
>
  <svg class="mx-auto fill-current" width="24" height="24" viewBox="0 0 24 24">
    <defs>
      {{ partial "svg" "bx-moon" }}
      {{ partial "svg" "bxs-sun" }}
    </defs>

    <use href="#sun" />
  </svg>
</button>

<script>
  const btn = document.querySelector("#theme-button");
  const btnSvgIcon = document.querySelector("use")

  const changeTogglerSvgIcon = function(theme) {
    const icon = theme === "dark" ? "#sun" : "#moon"
    btnSvgIcon.setAttribute("href", icon)
  }

  const theme = localStorage.getItem("__theme");
  if (theme) {
    changeTogglerSvgIcon(theme)
  }

  btn.addEventListener("click", function() {
    if (document.body.dataset.theme === "dark") {
      window.__setTheme("light");
      changeTogglerSvgIcon("light")
      return;
    }
    window.__setTheme("dark");
    changeTogglerSvgIcon("dark")
  });
</script>
