{{ define "partials/toc-title.html" }}
  <div class="mb-4 flex justify-between gap-2">
    <div class="flex items-center gap-2">
      {{ partial "svgs/list.svg" }}


      <h2 class="m-0">
        {{ i18n "TableOfContents" }}
      </h2>
    </div>

    <div
      data-chevron-icon
      class="transition-transform duration-100 ease-in group-open:rotate-180 lg:hidden"
    >
      {{ partial "svgs/chevron-down.svg" . }}
    </div>
  </div>
{{ end }}

{{ if not (eq .TableOfContents `<nav id="TableOfContents"></nav>`) }}
  <div class="hidden lg:block">
    {{ partial "partials/toc-title.html" . }}
    {{ .TableOfContents }}
  </div>

  <details
    data-toc-wrapper
    class="group lg:hidden"
    aria-label="{{ i18n "TableOfContents" }}"
  >
    <summary class="list-none">
      {{ partial "partials/toc-title.html" . }}
    </summary>

    <!-- TODO: since we use two table of contents, there are two elements with
      the same ID in the document, which can be a problem and overall is not
      valid HTML -->
    {{ .TableOfContents }}
  </details>
{{ end }}
