{{ define "partials/toc-title.html" }}
  <div class="mb-4 flex justify-between gap-2">
    <div class="flex items-center gap-2">
      {{ partial "svgs/list.svg" }}


      <h2 class="m-0">
        {{ i18n "TableOfContents" }}
      </h2>
    </div>

    <div
      data-chevron-icon
      class="transition-transform duration-100 ease-in group-open:rotate-180 lg:hidden"
    >
      {{ partial "svgs/chevron-down.svg" . }}
    </div>
  </div>
{{ end }}

{{ $tocIsEmpty := eq .TableOfContents `<nav id="TableOfContents"></nav>` }}
{{ if not $tocIsEmpty }}
  <div
    data-toc-wrapper
    class="pretty-scrollbar w-full overflow-y-auto lg:sticky lg:top-[1rem] lg:max-h-[calc(100vh-1rem)] lg:pb-8 lg:pl-8"
  >
    <div class="hidden lg:block">
      {{ partial "partials/toc-title.html" . }}
      {{ .TableOfContents }}
    </div>

    <details
      data-toc-details-wrapper
      class="group lg:hidden"
      aria-label="{{ i18n "TableOfContents" }}"
    >
      <summary class="list-none">
        {{ partial "partials/toc-title.html" . }}
      </summary>

      <!-- TODO: since we use two table of contents, there are two elements with
        the same ID in the document, which can be a problem and overall is not
        valid HTML -->
      {{ .TableOfContents }}
    </details>
  </div>
{{ end }}
