{{ define "partials/toc-title.html" }}
  <div class="flex justify-between gap-2">
    <div class="flex items-center gap-2">
      {{ partial "svgs/list.svg" }}


      <h2 class="m-0">
        {{ i18n "TableOfContents" }}
      </h2>
    </div>

    <div
      class="flex items-center transition-transform duration-100 ease-in group-open:rotate-180 lg:hidden"
    >
      {{ partial "svgs/chevron-down.svg" . }}
    </div>
  </div>
{{ end }}

{{ $tocIsEmpty := eq .TableOfContents `<nav id="TableOfContents"></nav>` }}

{{ if not $tocIsEmpty }}
  <div
    data-toc-wrapper
    class="w-full overflow-y-auto lg:sticky lg:top-[1rem] lg:max-h-[calc(100vh-1rem)] lg:pb-8 lg:pl-8"
  >
    {{ $tableOfContentsDesktop := replace .TableOfContents `id="TableOfContents"` `data-toc` | safeHTML }}
    {{ $tableOfContentsMobile := replace .TableOfContents `id="TableOfContents"` `data-toc` | safeHTML }}


    <div class="hidden lg:block">
      {{ partial "partials/toc-title.html" . }}


      <div
        class="
          mt-4
          [&_a_*]:indent-0
          [&_nav_ol]:m-0
          [&_nav_ol]:list-none
          [&_nav_ol]:indent-4
          [&_nav_ol_ol]:indent-8
          [&_nav_ol_ol_ol]:indent-12
          [&_nav_ol_ol_ol_ol]:indent-16
          [&_nav_ol_li]:relative
          [&_nav_ol_li]:before:absolute
          [&_nav_ol_li]:before:top-0
          [&_nav_ol_li]:before:left-0
          [&_nav_ol_li]:before:h-full
          [&_nav_ol_li]:before:w-[1px]
          [&_nav_ol_li]:before:bg-divider
          [&_nav_ol_li]:before:content-['']
          [&_nav_ol_li_a]:block
          [&_nav_ol_li_a]:truncate
          [&_nav_ol_li_a]:border-b-0
          [&_nav_ol_li_a]:transition-colors
          [&_nav_ol_li_a]:duration-500
          [&_nav_ol_li_a:hover]:bg-hover
          [&_nav_ol_li[data-active]]:before:bg-primary
          [&_nav_ol_li[data-active]>a]:text-primary
       "
      >
        {{ $tableOfContentsDesktop }}
      </div>
    </div>

    <details
      class="card group mb-8 max-w-prose px-horizontal-padding py-4 lg:hidden"
      aria-label="{{ i18n "TableOfContents" }}"
    >
      <summary class="list-none">
        {{ partial "partials/toc-title.html" . }}
      </summary>

      <div
        class="
          mt-4
          [&_ol]:m-0
          [&_ol]:list-outside
          [&_ol]:px-horizontal-padding
          [&_ol_li:not(:first-child)]:mt-1
        "
      >
        {{ $tableOfContentsMobile }}
      </div>
    </details>
  </div>
{{ end }}
