{{ define "main" }}
  <div class="flex flex-col flex-1">
    <div class="resume-loading flex flex-1 justify-center items-center flex-1">
      {{ partial "svgs/loader.svg" (dict "Class" "animate-spin") }}
    </div>

    <div
      data-resume="{{ .Site.Params.resume }}"
      class="hidden resume-pdf h-screen w-full border-2 border-dashed border-foreground"
    >
    </div>

    <div class="hidden resume-pdf-fallback flex flex-col flex-1 justify-center items-center">
      <a
        class="mt-4 btn btn-primary"
        download
        href="{{ .Site.Params.resume }}"
      >
        Download
      </a>
    </div>
  </div>
{{ end }}

{{ define "scripts" }}
  {{ $resumeScript := resources.Get "js/resume.js" | js.Build }}

  {{ if (not .Site.IsServer) }}
    {{ $resumeScript := $resumeScript | minify }}
  {{ end }}

  <script src="{{ $resumeScript.Permalink }}"></script>
{{ end }}
