{{ define "main" }}
  <main class="grid grid-cols-layout">
    <div class="my-20">
      <div class="flex flex-col items-center justify-center sm:flex-row">
        {{ $gravatarUrl := printf "https://www.gravatar.com/avatar/%s?s=384" (md5 .Site.Params.email) }}


        <div class="mb-8 shrink-0 sm:mr-8 sm:mb-0">
          <img
            id="gravatar"
            alt="{{ i18n "GravatarAltText" }}"
            width="200"
            height="200"
            class="rounded-full border-4 border-divider bg-transparent"
            src="{{ $gravatarUrl }}"
          />
        </div>

        <article class="max-w-prose text-lg">
          <header>
            <h1 class="mb-4">About</h1>
          </header>

          {{ .Content }}
        </article>
      </div>
    </div>

    {{ $posts := .Site.GetPage "/posts" }}
    {{ $allPosts := $posts.Pages }}

    {{ $latestPosts := first 5 $allPosts }}
    {{ $latestPost := index $latestPosts 0 }}
    {{ $otherPosts := last 4 $latestPosts }}


    <div
      class="my-8 flex flex-col gap-16 overflow-x-hidden sm:my-16 lg:col-start-[content-start] lg:col-end-[full-end] lg:flex-row"
    >
      <div class="flex flex-col justify-around gap-8 py-4">
        <div class="flex items-center justify-between">
          <h2 class="text-2xl">
            <a href="{{ $posts.Permalink }}">Blog</a>
          </h2>

          {{ partial "rss-button.html" . }}
        </div>

        <div class="flex flex-col justify-between gap-2">
          <div class="flex items-center gap-2">
            {{ partial "svgs/edit-2.svg" . }}


            <div>{{ len $allPosts }} posts</div>
          </div>

          <div class="flex items-center gap-2">
            {{ partial "svgs/book-open.svg" . }}

            {{ $totalReadingTime := 0 }}
            {{ range $allPosts }}
              {{ $totalReadingTime = add $totalReadingTime .ReadingTime }}
            {{ end }}

            {{ $averageReadingTime := div $totalReadingTime (len $allPosts) }}
            <div>{{ $averageReadingTime }} min. avg.</div>
          </div>
        </div>

        <div class="flex flex-wrap gap-2">
          {{ range first 10 (.Site.Taxonomies.tags.ByCount) }}
            <a href="{{ .Page.RelPermalink }}" class="tag whitespace-nowrap">
              {{- .Term -}}
            </a>
          {{ end }}

          {{ partial "all-tags-button.html" . }}
        </div>
      </div>

      <div
        class="gallery-wrapper pretty-scrollbar hidden overflow-x-auto py-4 lg:block"
      >
        {{ partial "post-cards-gallery.html" $latestPosts }}
      </div>
    </div>

    <div class="gallery-wrapper overflow-x-auto py-8 lg:hidden">
      {{ partial "post-cards-gallery.html" $latestPosts }}
    </div>

    {{ $projects := (.Site.GetPage "/projects").Pages }}

    {{ $scratch := newScratch }}
    {{ range $projects }}
      {{ $scratch.Add "projectIcons" .Params.icons }}
    {{ end }}

    {{ $uniqProjectIcons := uniq ($scratch.Get "projectIcons") }}
    {{ $projectIconsUrl := printf "https://skillicons.dev/icons?i=%s&theme=light&perline=%d" (delimit $uniqProjectIcons ",") (len $uniqProjectIcons) }}
    {{ $projectIconsAltText := printf "%s: %s" (i18n "Tech") (delimit $uniqProjectIcons ", " (printf " %s " (i18n "And"))) }}


    <h2 class="mt-8 text-2xl sm:mt-16">
      <a href="{{ (.Site.GetPage "projects").Permalink }}">
        {{ i18n "Projects" }}
      </a>
    </h2>

    <div class="col-full my-8 h-12 w-full overflow-x-hidden">
      <div data-skill-icons-marquee class="flex h-full justify-center">
        <img
          data-skill-icons
          class="min-h-full max-w-none flex-none object-cover object-left-top"
          src="{{ $projectIconsUrl }}"
          alt="{{ $projectIconsAltText }}"
        />
      </div>
    </div>

    <div class="gallery-wrapper pretty-scrollbar mb-8 sm:mb-16">
      <ul class="gallery m-0 list-none">
        {{ range (where $projects "Params.unmaintained" "!=" "true") }}
          <li class="max-w-fit flex-none snap-center">
            {{ partial "project-card-simple" . }}
          </li>
        {{ end }}
      </ul>
    </div>
  </main>
{{ end }}

{{ define "head" }}
  {{ $gravatarUrl := printf "https://www.gravatar.com/avatar/%s?s=384" (md5 .Site.Params.email) }}
  <link rel="preload" as="image" href="{{ $gravatarUrl }}" />
{{ end }}

{{ define "scripts" }}
  {{ $skillIconsTheme := resources.Get "/js/theme-skill-icons.js" }}
  {{ $skillIconsMarquee := resources.Get "/js/marquee-skill-icons.js" }}

  {{ if hugo.IsProduction }}
    {{ $skillIconsTheme := $skillIconsTheme | minify }}
    {{ $skillIconsMarquee := $skillIconsMarquee | minify }}
  {{ end }}


  <script src="{{ $skillIconsTheme.Permalink }}"></script>
  <script src="{{ $skillIconsMarquee.Permalink }}"></script>
{{ end }}
