:root {
  --default-padding: 0.5 1em;
  --dark: #151718;
  --red: #cd3f45;
  --green: #9fca56;
  --yellow: #e6cd69;
  --blue: #55b5db;
  --purple: #a074c4;
  --bright-blue: #55dbbe;
  --grey: #d6d6d6;
  --dark-blue: #41535b;
}

html {
  font-family: 'Lato', sans-serif;
  font-size: 1.1rem;
}

html, body {
  height: 100%;
}

img {
  max-width: 100%;
}

header {
  display: flex;
  justify-content: space-between;
}

nav ul {
  margin: 0;
  list-style: none;
}

nav ul li {
  display: inline;
}

nav ul li a:hover {
  border-bottom: 1px dotted black;
}

body {
  display: flex;
  flex-flow: column;

  max-width: 40em;
  margin: 0 auto;
}

body > * {
  padding: 0.5em 1em;
}

main {
  flex: 1;
}

.heading {
  text-decoration: none;
  color: inherit;
}

pre {
  font-family: monospace;
  font-size: 0.7rem;
  padding: 0.5em;
  overflow-x: auto;
}

.page-list {
  padding: 0;
  list-style: none;
}

.page-list li {
  margin-top: 0.7em;
}

.page-list a, header a, footer a {
  color: inherit;
  text-decoration: none;
}

.posts-list li {
  display: flex;
  justify-content: space-between;
}

.posts-list time {
  color: var(--grey);
}

.posts-list li a {
  border-bottom: 1px dotted transparent;
}

.posts-list li a:hover {
  border-bottom: 1px dotted black;
}

footer {
  margin: 0 auto;
}
