{{ define "main" }}
  <section class="archive">
    {{ $blogPosts := (.Site.GetPage "/posts").Pages }}

    {{ range $blogPosts.GroupByDate "2006" }}
      <h3>
        <time
          datetime="{{ .Key }}-01-01">
          {{ .Key }}
        </time>
      </h3>

      <ul>
        {{ range .Pages }}
          <li>
            <time class="post-date" datetime="{{ .Date.Format "2006-01-02" }}">
              {{ if eq .Lang "en" }}
                {{ .Date.Format "02 Jan" }}
              {{ else }}
                {{ .Date.Day }}
                {{ index $.Site.Data.portugueseMonthsAbbr (printf "%d" .Date.Month) }}
              {{ end }}
            </time>
            <a href="{{ .Permalink }}">
              {{ .Title }}
            </a>
          </li>
        {{ end }}
      </ul>
    {{ end }}
  </section>
{{ end }}
