---
import { useTranslate } from '@utils/i18n/useTranslate'
import Gravatar from '@components/Gravatar.astro'
import Site from '@layouts/Site.astro'
import type { Locale } from '@utils/i18n/locales'
import type { MarkdownLayoutProps } from 'astro'

type Props = MarkdownLayoutProps<{
  locale: Locale
}>

const {
  frontmatter: { locale },
} = Astro.props

const t = useTranslate(locale)
---

<Site locale={locale} isTranslated title={t['About']}>
  <main class='grid grid-cols-layout'>
    <article
      class='flex flex-col sm:flex-row items-center sm:items-start gap-2'
    >
      <Gravatar
        locale={locale}
        className='border border-divider shrink-0'
        baseWidth={120}
      />

      <div class='max-w-prose'>
        <h1 class='hidden sm:block text-xl mb-2'>Phelipe Teles</h1>
        <slot />
      </div>
    </article>
  </main>

  <div slot='mobile-nav-title' class='flex flex-row items-center gap-2'>
    <h1 class='text-xl mb-0'>Phelipe Teles</h1>
  </div>
</Site>
