---
import { useTranslate } from '@utils/i18n/useTranslate'
import Gravatar from '@components/Gravatar.astro'
import Site from '@layouts/Site.astro'

const t = useTranslate(Astro)
---

<Site isTranslated title={t.About()}>
  <main class='grid grid-cols-layout my-8'>
    <article class='max-w-prose'>
      <header class='flex flex-row items-end gap-2 mb-4'>
        <Gravatar baseWidth={48} />

        <h1 class='mb-0'>{t.About()}</h1>
      </header>

      <slot />
    </article>
  </main>
</Site>
