---
import { useTranslate } from '@utils/i18n/useTranslate'
import Gravatar from '@components/Gravatar.astro'
import Site from '@layouts/Site.astro'

const t = useTranslate(Astro)
---

<Site isTranslated title={t('About')}>
  <main class="grid flex-1 grid-cols-layout my-8">
    <div class="flex flex-col items-center justify-center gap-8 sm:flex-row">
      <Gravatar />

      <article class="max-w-prose">
        <header>
          <h1 class="mb-4 hidden sm:block">{t('About')}</h1>
        </header>

        <slot />
      </article>
    </div>
  </main>
</Site>
