{{ $sourceCode := (trim .Inner "\n\r") }}

{{ highlight $sourceCode "jsx" (.Get 0 | default "") }}

{{ $appRootId := md5 $sourceCode }}


<div id="{{ $appRootId }}"></div>

{{ $path := printf "js/react-widget-%s.js" $appRootId }}
{{ $context := dict "SourceCode" $sourceCode "AppRootId" $appRootId }}

{{ $shims := dict "react" "js/react.js" "react-dom" "js/react-dom.js" }}
{{ $builtJs := resources.Get "js/react-widget.jsx" | resources.ExecuteAsTemplate $path $context | js.Build (dict "externals" (slice "react" "react-dom") "format" "esm" "shims" $shims) }}


<script defer type="module" src="{{ $builtJs.Permalink }}"></script>
