{{ $scriptPath := .Get "path" }}
{{ $sourceCode := (.Page.Resources.Get $scriptPath).Content | safeJS }}

{{ $appRootId := md5 $sourceCode }}

{{ $shims := dict "react" "js/shims/react.js" "react-dom" "js/shims/react-dom.js" }}
{{ $targetPath := printf "js/react-widget-%s.js" $appRootId }}
{{ $context := dict "SourceCode" $sourceCode "AppRootId" $appRootId }}

{{ $builtJs :=
  resources.Get "js/templates/react-widget.jsx"
  | resources.ExecuteAsTemplate $targetPath $context
  | js.Build (dict "externals" (slice "react" "react-dom") "format" "esm" "shims" $shims)
  | js.Build (dict "externals" (slice "react" "react-dom") "format" "esm" "shims" $shims)
  }}

{{ $html :=
  resources.Get "html/templates/react-app.html"
  | resources.ExecuteAsTemplate (printf "react-iframe-%s.html" $appRootId) (dict "AppRootId" $appRootId "Js" $builtJs)
}}


<div class="card my-8 p-page-padding">
  <div>
    {{ highlight $sourceCode "jsx" (.Get "hl_options") }}
  </div>

  <div class="rounded-md border-2 border-divider bg-[white] p-8">
    <iframe src="{{ $html.Permalink }}"> </iframe>
  </div>
</div>
