{{ $scriptPath := .Get "path" }}
{{ $sourceCode := (.Page.Resources.Get $scriptPath).Content | safeJS }}

{{ $appRootId := md5 $sourceCode }}

{{ $shims := dict "react" "js/shims/react.js" "react-dom" "js/shims/react-dom.js" }}
{{ $targetPath := printf "js/react-widget-%s.js" $appRootId }}
{{ $context := dict "SourceCode" $sourceCode "AppRootId" $appRootId }}

{{ $builtJs :=
  resources.Get "js/templates/react-widget.jsx"
  | resources.ExecuteAsTemplate $targetPath $context
  | js.Build (dict "externals" (slice "react" "react-dom") "format" "esm" "shims" $shims)
  | js.Build (dict "externals" (slice "react" "react-dom") "format" "esm" "shims" $shims)
  }}

{{ $html :=
  resources.Get "html/templates/react-app.html"
  | resources.ExecuteAsTemplate (printf "react-iframe-%s.html" $appRootId) (dict "AppRootId" $appRootId "Js" $builtJs)
}}


<div class="my-8">
  <div react-source class="-mx-page-padding sm:mx-0">
    {{ highlight $sourceCode "jsx" (.Get "hl_options") }}
  </div>

  <div
    data-react-iframe-container
    class="relative -mx-page-padding bg-[white] py-8 px-page-padding sm:mx-0 sm:rounded-b-md sm:shadow-md sm:shadow-shadow"
  >
    <button
      data-react-iframe-refresh
      aria-label="{{ i18n "RefreshApp" }}"
      class="btn btn-icon btn-icon-action btn-secondary absolute top-3 right-0 -translate-x-1/2 shadow-md shadow-shadow"
    >
      {{ partial "svgs/refresh-cw.svg" . }}
    </button>

    <iframe class="max-w-full" src="{{ $html.Permalink }}"> </iframe>
  </div>
</div>
