<div class="my-8">
  {{- $tabs := split (.Get "tabs") " " -}}
  {{- $tabsId := .Get "id" -}}


  <div
    class=""
    role="tablist"
    aria-label="{{ i18n "Tabs" }}"
    class="flex gap-2"
  >
    {{- range $i, $tab := $tabs -}}
      {{- $isFirstTab := eq $i 0 -}}

      {{- $tabId := printf "%s-%s" $tabsId ($tab | lower) -}}


      <button
        role="tab"
        id="tab-{{ $tabId }}"
        class="
          rounded-t
          p-2
          transition-colors
          duration-200
          hover:bg-hover
          [&[aria-selected=true]]:border-b
          [&[aria-selected=true]]:border-primary
          [&[aria-selected=true]]:font-bold
          [&[aria-selected=true]]:hover:bg-hover
        "
        aria-selected="{{ cond $isFirstTab "true" "false" }}"
        {{ if $isFirstTab }}tabindex="-1"{{ end }}
        aria-controls="tabpanel-{{ $tabId }}"
      >
        {{- $tab -}}
      </button>
    {{- end -}}
  </div>

  {{- .Inner -}}
</div>
